<ul class="nav nav-pills nav-stacked">
  <% if @business.is_a? School %>
  <li class="<%= 'active' if controller.controller_name == "contacts" %>"><%= link_to 'Manage Contacts', business_contacts_path(@business) %></li>
  <li class="<%= 'active' if controller.controller_name == "agents" %>"><%= link_to 'Manage Agents', business_agents_path(@business) %></li>
  <li class="<%= 'active' if controller.controller_name == "products" %>"><%= link_to 'Manage Products', business_products_path(@business) %></li>
  <% end %>
  <li class="<%= 'active' if controller.controller_name == "tags" %>"><%= link_to 'Manage Tags', business_tags_path(@business) %></li>
  <li class="<%= 'active' if controller.controller_name == "accounts" %>"><%= link_to 'Manage Accounts', business_accounts_path(@business) %></li>
</ul>