<%= form_for(@business, :as => :business, :url => form_url) do |f| %>
    <% if @business.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

          <ul>
            <% @business.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p><%= f.label :type %><br />
      <%= f.radio_button :type, "Personal" %><%= label_tag(:type_personal, "Personal") %><%= f.radio_button :type, "School" %><%= label_tag(:type_school, "School") %></p>

    <p><%= f.label :name %><br />
      <%= f.text_field :name %></p>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>