<% if @business.present? && @business.persisted? %>
<p><%= I18n.t('businesses.sidebar.title') %>
<% if can? :manage, @business.accounts.build %>
(<%= link_to t('businesses.sidebar.manage'), business_accounts_path(@business) %>)
<% end %>
:
<ul class="nav nav-pills nav-stacked">
  <% @business.accounts.order("name").each do |account| %>
  	<% unless account.new_record? %>
      <li class="<%= 'active' if @account.present? && account.id == @account.id %>">
        <%= link_to account.name.html_safe + content_tag(:span,
                                                         number_to_currency(account.balance, unit: account.currency.symbol), class: "balance pull-right account_#{account.id}_balance"),
                    business_account_transactions_path(@business, account) %>
      </li>
      <% end %>
  <% end %>
  <li><a></a></li>
  <% @business.accounts.calculate_total_balance_per_currency.each do |cur,balance| %>
    <li>
      <a>
        <%= _("Total %{cur}") % {cur: cur} %>:
        <%= number_to_currency( balance , unit: Currency.find(cur).symbol ) %>
      </a>
    </li>
  <% end %>
</ul>
</p>
<% end %>
