<% if @business.present? && @business.persisted? %>
<p><%= I18n.t('businesses.sidebar.title') %>
<% if can? :manage, @business.accounts.build %>
(<%= link_to t('businesses.sidebar.manage'), business_accounts_path(@business) %>)
<% end %>
:
<ul class="nav nav-pills nav-stacked">
  <% @business.accounts.order("name").each do |account| %>
  	<% unless account.new_record? %>
      <li class="<%= 'active' if @account.present? && account.id == @account.id %>">
        <%= link_to business_account_transactions_path(@business, account) do %>
          <%= account.name.html_safe %>
          <span class="balance pull-right account_<%= account.id %>_balance">
            <%= number_to_currency(account.balance, unit: account.currency.symbol) %>
            <% if account.current_balance_checked? && account.last_balance_check %>
              <%= content_tag(:i,
                              "",
                              class: "icon-ok account_balance_checked",
                              title: _("Saldo chequeado el %{date}") % { date: l(account.last_balance_check.checked_at)}).html_safe %>
            <% else %>
              <i class="account_balance_dirty"></i>
            <% end %>
          </span>
        <% end %>
      </li>
      <% end %>
  <% end %>
  <li><a></a></li>
  <% @business.accounts.calculate_total_balance_per_currency.each do |cur,balance| %>
    <li>
      <a>
        <%= _("Total %{cur}") % {cur: cur} %>:
        <%= number_to_currency( balance , unit: Currency.find(cur).symbol ) %>
      </a>
    </li>
  <% end %>
  <li><a></a></li>
  <% @business.accounts.calculate_pending_balance_per_currency.each do |cur,balance| %>
    <li>
      <a>
        <%= _("Total %{cur} pendientes") % {cur: cur} %>:
        <%= number_to_currency( balance , unit: Currency.find(cur).symbol ) %>
      </a>
    </li>
  <% end %>
</ul>

  <% if can?(:update, @business) %>
  <ul>
    <li>
      <%= t("activerecord.attributes.business.block_transactions_before") %>
      <%= best_in_place @business.becomes(Business), :block_transactions_before, display_with: lambda { |d| d.to_s(:short) } %>
    </li>
  </ul>
    <% end %>
</p>
<% end %>
