<% content_for :sidebar do %>
    <%= render :partial => 'edit_sidebar' %>
<% end %>

<p><b><%= Business.human_attribute_name(:name) %>:</b> <%= @business.name %> </p>
<p><b><%= Business.human_attribute_name(:owner) %>:</b>  <%= @business.owner.drc_uid %> </p>
