<h3>Business</h3>
<p>Name: <%= @business.name %></p>
<p>Accounts:
<ul>
  <% @business.accounts.each do |account| %>
  <li><%= account.name %></li>
  <% end %>
</ul>
</p>

<table>Transactions:
  <thead>
    <td>Type</td>
    <td>Description</td>
    <td>Amount</td>
    <td>Source</td>
    <td></td>
  </thead>

  <% @business.transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.type %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.source.name %></td>
      <td><%= link_to "Show", transaction_path(transaction) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Transaction", new_transaction_path %> |
<%= link_to 'Manage Accounts', business_accounts_path(@business) %> |
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
