<% if membership %>
  <h4><%= Contact.human_attribute_name(:current_membership) %></h4>
  <p><%= Membership.human_attribute_name(:name) %>: <%= membership.name %></p>
  <p><%= Membership.human_attribute_name(:payment_type) %>: <%= memberships_payment_type_name(membership) %></p>
  <p><%= Membership.human_attribute_name(:ends_on) %>: <%= l(membership.ends_on, :format => "%B %Y") %></p>
  <% if membership.overdue? %>
  <p><%= table_contact_membership_link(contact, membership) %></p>
  <% else %>
  <p><%= link_to t('actions.edit'), edit_business_membership_path(@business, membership) %></p>
  <% end %>
<% else %>
  <h4><%= Contact.human_attribute_name(:memberships) %></h4>
  <ul>
	<% contact.memberships.each do |membership| %>
	  <p><%= "#{membership.name}: " unless membership.name.blank? %><%= membership.begins_on %> - <%= membership.closed_on.present? ? membership.closed_on : membership.ends_on %> <%= link_to t('actions.show'), business_membership_path(@business, membership) %></p>
	<% end %>
	</ul>
	<p><%= table_contact_membership_link(contact, membership) %></p>
<% end %>
