<%= simple_form_for(@membership, :url => form_url, :validate => true, :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.association :contact, :as => :select, :collection => @business.contacts, :prompt => 'Please select contact' %>
    <%= f.input :value %>
    <%= f.input :begins_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>
    <%= f.input :ends_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>
    <%= f.input :closed_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>

    <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>