<%= simple_form_for(@membership, :url => form_url, :validate => true, :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.association :contact, :as => :select, :collection => @business.contacts,
                      :input_html => {
                          'data-business-id' => @business.id,
                          'data-placeholder' => 'Please select contact',
                          :class => "chosen"
                      } %>
    <%= f.input :value %>

    <%= f.association :payment_type,
                      as: :select,
                      collection: @business.payment_types,
                      input_html: {
                          'data-business-id' => @business.id,
                          'data-placeholder' => 'Please select payment type',
                          class: 'chosen'
                      }
    %>

    <%= f.input :begins_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>
    <%= f.input :ends_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>
    <%= f.input :closed_on, :as => "string", :input_html => {:class => "datepicker_input"} %></p>

    <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>