<div id="membership-stats-modal" class = "modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Membership Stats</h3>
  </div>
  <ul>
    <h4>Global</h4>
    <li>Enrollments: $ <%= @stats.enrollments.first["sum"] %></li>
    <li>Installments: $ <%= @stats.installments.first["sum"]  %></li>
  </ul>
  <% @business.agents.each do |agent| %>
      <ul>
        <h4><%= agent.name %></h4>
        <li>Enrollments: $ <%= @stats.enrollments.where('enrollments.agent_id' => agent.id).first["sum"] %></li>
        <li>Installments: $ <%= @stats.installments.where('installments.agent_id' => agent.id).first["sum"] %></li>
      </ul>
  <% end %>
  <div class="modal-footer">
    <%= link_to "Close", "#", :class => "btn", "data-dismiss" => "modal" %>
  </div>
</div>