<%= content_tag :td,
    data: {
      month: date.month,
      content: "#{render(:partial => 'memberships/installment_popover', :locals => {:membership => membership, :installment => installment, :date => date, :contact => contact})}",
      placement: "right",
      trigger: "hover"
    },
    rel: "popover",
    class: "#{'current' if(date == Date.today)} #{installment.try(:status)} cell installment-value" do %>
  <div>
		<% if installment && membership %>
      <div class="<%= 'old' if installment.membership != membership %>">
        <%= best_in_place installment, :value,
          url: business_membership_installment_path(@business,membership,installment),
          display_with: :number_to_currency,
          helper_options: { unit: @business.currency_symbol }
        %>
        <div class="installment-observations">
          <%= best_in_place installment, :observations, url: business_membership_installment_path(@business,membership,installment) %>
        </div>
		  </div>
      <%= content_tag(:i, "", :class => "icon-installment-#{installment.status}") %>
		<% elsif membership && date >= membership.begins_on && date < membership.ends_on %>
		  <div class="projection"><%= number_to_currency(membership.try(:value), unit: @business.currency_symbol) %></div>
    <% else %>
      <div class="projection"></div>
		<% end %>
  </div>
<% end %>
