<% if installment.try(:observations).blank? %>
   <td data-month=<%= date.month %> class="<%= 'current' if(date == Date.today) %> <%= installment.try(:status) %>">
<% else %>
   <td data-toggle="tooltip" title="<%= installment.observations %>" class="<%= 'current' if(date == Date.today) %> <%= installment.try(:status) %>">
<% end %>	
	<%= content_tag :div, :class => "installment-value", 'data-content' => "#{render(:partial => 'memberships/installment_popover', :locals => {:membership => membership, :installment => installment, :date => date, :contact => contact})}", :rel => "popover", 'data-placement' => "right", 'data-triggr' => "hover" do %>
		<% if installment %>
		  <div class="<%= 'old' if installment.membership != membership %>"><%= number_to_currency(installment.try(:value)) %>
		  </div>
      <%= content_tag(:i, "", :class => "icon-installment-#{installment.status}") %>
		<% elsif membership && date >= membership.begins_on && date < membership.ends_on %>
		  <div class="projection"><%= number_to_currency(membership.try(:value)) %></div>
		<% end %>
	<% end %>
</td>