<% (1..5).each do |n| %>
  <td><div><%= Date::ABBR_MONTHNAMES[(6-n).months.ago.month] %></div><div><%= link_to content_tag(:i, "", :class => "icon-bar-chart", :title => "View #{Date::MONTHNAMES[(6-n).months.ago.month]} stats"), stats_business_memberships_path(@business, :year => (6-n).months.ago.year, :month => (6-n).months.ago.month ), :remote => true %></div></td>
<% end %>
  <td class="current"><div><%= Date::ABBR_MONTHNAMES[Date.today.month] %></div><div><%= link_to content_tag(:i, "", :class => "icon-bar-chart", :title => "View #{Date::MONTHNAMES[Date.today.month]} stats"), stats_business_memberships_path(@business, :year => Date.today.year, :month => Date.today.month ), :remote => true  %></div></td>
<% (1..6).each do |n| %>
  <td><div><%= Date::ABBR_MONTHNAMES[n.months.from_now.month] %></div><div><%= link_to content_tag(:i, "", :class => "icon-bar-chart", :title => "View #{Date::MONTHNAMES[n.months.from_now.month]} stats"), stats_business_memberships_path(@business, :year => n.months.from_now.year, :month => n.months.from_now.month ), :remote => true %></div></td>
<% end %>