<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<h2><%= t('memberships.edit.title') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_membership_url(@business, @membership)} %>

<%= link_to t('actions.show'), business_membership_path(@business, @membership) %> |
<%= link_to t('actions.back'), :back %>