<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<div class="span2">
<h3>This month's stats</h3>
<ul>
  <h4>Global</h4>
  <li>Enrollments: $ <%= @stats.enrollments.sum(:value) %></li>
  <li>Installments: $ <%= @stats.paid_installments.sum(:value) %></li>
</ul>
<% @business.agents.each do |agent| %>
<ul>
  <h4><%= agent.name %></h4>
  <li>Enrollments: $ <%= @stats.enrollments.where('enrollments.agent_id' => agent.id).sum(:value) %></li>
  <li>Installments: $ <%= @stats.paid_installments.where('installments.agent_id' => agent.id).sum(:value) %></li>
</ul>
<% end %>
</div>

<div class="span-3">
  <% unless @due_installments.empty? %>
      <h3>Due Installments</h3>
      <ul class="overdue-installments">
        <% @due_installments.each do |installment| %>
            <li>
              <%= installment.membership.contact.name %> <%= link_to installment.due_on, business_membership_installment_path(@business, installment.membership, installment) %>  <%= content_tag(:span, "Pending", :class => "label label-warning") if installment.pending? %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>

<div class="span-3">
<% unless @overdue_installments.empty? %>
<h3>Overdue Installments</h3>
<ul class="overdue-installments">
  <% @overdue_installments.each do |installment| %>
      <li>
        <%= link_to "#{installment.due_on} #{installment.membership.contact.try(:name)} #{installment.value}", business_membership_installment_path(@business, installment.membership, installment) %>  <%= content_tag(:span, "Pending", :class => "label label-warning") if installment.pending? %>
      </li>
  <% end %>
</ul>

<% end %>
</div>
