<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'maturity_search' %>
  <a class="btn" id="update-filter"><%= t('update') %></a>
<% end %>

<% content_for :top do %>
<% end %>

<table id="memberships" class="table table-striped table-bordered">
  <tr>
    <th><%= t('memberships.maturity_report.student') %></th>
    <th><%= t('memberships.maturity_report.membership') %></th>
    <th><%= t('memberships.maturity_report.period') %></th>
    <th><%= t('memberships.maturity_report.value') %></th>
    <th><%= Membership.human_attribute_name(:payment_type) %></th>
  </tr>
  <% @search.results.each do |membership| %>
    <tr data-membership_url="<%= business_membership_url(business_id: params[:business_id], id: membership.id) %>">
      <td><%= membership.contact.try :name %></td>
      <td><%= membership.name %></td>
      <td><%= membership.begins_on %> - <%= membership.ends_on %></td>
      <td><%= membership.value %></td>
      <td><%= memberships_payment_type_name(membership) %></td>
    </tr>
  <% end -%>
</table>
