<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<table class="memberships table table-striped table-hover table-condensed table-bordered">
  <thead>
  	<%= render :partial => 'table_header' %>
  </thead>
  <tbody>
  <% @business.contacts.all_students.each do |contact| %>
    <tr class="<%=contact.padma_status%>">
      <% if contact.membership && !contact.membership.closed? %>
      	<%= render :partial => 'membership_table_row', :locals => {:contact => contact} %>
      <% else %>
      	<td colspan="12"><%= table_contact_membership_link(contact) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  	<%= render :partial => 'table_header' %>
  </tfoot>
</table>