<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<% content_for :top do %>
  <%= render :partial => 'membership_filter' %>
    <%= paginate @contacts, :theme => 'twitter-bootstrap' %>
<% end %>

<table class="memberships table table-striped table-hover table-condensed table-bordered">
  <thead>
  	<%= render :partial => 'table_header' %>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
    <tr class="<%=contact.padma_status%>" data-contact-id=<%= contact.id %>>
      <% membership = contact.current_membership %>
  		<% monthly_iterator = [] %>
  		<% (1..5).each do |n| %>
  			<% date = (6-n).months.ago %>
  		    <% installment = installment_for(date , contact.installments) %>
  		    <% monthly_iterator << {:date => date, :installment => installment } %>
  		<% end %>
  		<% date = Date.today %>
  		<% installment = installment_for(date, contact.installments) %>
  		<% monthly_iterator << {:date => date, :installment => installment } %>
  		<% (1..6).each do |n| %>
  			<% date = n.months.from_now %>
  		    <% installment = installment_for(date , contact.installments) %>
  		    <% monthly_iterator << {:date => date, :installment => installment } %>
  		<% end %>

  		<% monthly_iterator.each do |monthly_values| %>
  			<% installment = monthly_values[:installment] %>
  			<% date = monthly_values[:date] %>
        <%= render :partial => 'table_cell', :locals => {:contact => contact, :membership => membership, :installment => installment, :date => date} %>
	    <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  	<%= render :partial => 'table_header' %>
  </tfoot>
</table>
