<%= simple_form_for(@installment, :validate => true, :url => form_url) do |f| %>
    <%= f.association :agent, :as => :select, :collection => @business.agents %>
    <%= f.input :due_on, :as => "string", :input_html => {:class => "datepicker_input"} %>
    <%= f.input :value %>

    <h3>Transactions</h3>
    <%= render :partial => 'nested_transactions_table', :locals => {:f => f} %>

    <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>