<% include_contact_column ||= false %>
<table class="installments table table-striped table-hover table-condensed table-bordered">
  <thead>
    <% if include_contact_column %>
    <td><%= t('installments.installments_table.header.contact') %></td>
    <% end %>
  	<td><%= t('installments.installments_table.header.month') %></td>
  	<td><%= t('installments.installments_table.header.amount') %></td>
  	<td><%= t('installments.installments_table.header.status') %></td>
  	<td></td>
  </thead>
  <tbody>
  <% installments.each do |installment| %>
      <% membership = installment.membership %>
      <tr>
        <% if include_contact_column %>
        <% contact = membership.contact %>
        <td><%= link_to(contact.name.html_safe, business_contact_path(@business, contact)) %></td>
        <% end %>
        <td><%= l(installment.due_on, format: "%B %Y") %></td>
        <% if installment.observations.blank? -%>
          <td class="amount"><%= number_to_currency(installment.value)%></td> 
        <% else -%>
          <td class="amount" data-toggle="tooltip" title="<%= installment.observations %>"><%= number_to_currency(installment.value)%></td> 
        <% end -%>
        <td class="status"><%= content_tag(:i, "", :class => "icon-installment-#{installment.status}") %></td>
        <td>
        	<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_membership_installment_path(@business, membership, installment) %>
        	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_membership_installment_path(@business, membership, installment) %>
  			<%= link_to content_tag(:i, "", :class => "icon-trash"), business_membership_installment_path(@business, membership, installment), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
      </tr>
  <% end %>
</table>
