<table class="installments table table-striped table-hover table-condensed table-bordered">
  <thead>
  	<td><%= t('installments.installments_table.header.month') %></td>
  	<td><%= t('installments.installments_table.header.amount') %></td>
  	<td><%= t('installments.installments_table.header.status') %></td>
  	<td></td>
  </thead>
  <tbody>
  <% installments.each do |installment| %>
      <tr>
        <td><%= l(installment.due_on, format: "%B %Y") %></td>
        <% if installment.observations.blank? -%>
          <td class="amount"><%= number_to_currency(installment.value)%></td> 
        <% else -%>
          <td class="amount" data-toggle="tooltip" title="<%= installment.observations %>"><%= number_to_currency(installment.value)%></td> 
        <% end -%>
        <td class="status"><%= content_tag(:i, "", :class => "icon-installment-#{installment.status}") %></td>
        <td>
        	<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_membership_installment_path(@business, @membership, installment) %>
        	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_membership_installment_path(@business, @membership, installment) %>
  			<%= link_to content_tag(:i, "", :class => "icon-trash"), business_membership_installment_path(@business, @membership, installment), :confirm => 'Are you sure you want to delete this item?', :method => 'delete' %>
      </tr>
  <% end %>
</table>
