<% include_contact_column ||= false %>
<table class="installments table table-striped table-hover table-condensed table-bordered">
  <thead>
    <% if include_contact_column %>
    <td><%= Installment.human_attribute_name(:contact) %></td>
    <% end %>
    <td><%= Installment.human_attribute_name(:agent) %></td>
      <% if @business.use_calendar_installments? %>
	<td><%= t('installments.installments_table.header.month') %></td>
      <% else %>
	<td><%= t('installments.installments_table.header.period') %></td>
    <% end %>
    <td><%= Installment.human_attribute_name(:value) %></td>
    <td><%= Installment.human_attribute_name(:status) %></td>
    <td></td>
  </thead>
  <tbody>
  <% installments.each do |installment| %>
      <% membership = installment.membership %>
      <tr>
        <% if include_contact_column %>
        <% contact = membership.contact %>
        <td><%= link_to(contact.name.html_safe, business_contact_path(@business, contact)) %></td>
        <% end %>
	<td><%= installment.agent.try(:name) %></td>
	<% if @business.use_calendar_installments? %>
	  <td><%= l(installment.due_on, format: "%B %Y") %></td>
  	<% else %>
	  <td><%= l(installment.due_on, format: "%d %B") %> - <%= l(installment.due_on + 1.month - 1.day, format: "%d %B") %></td>
	<% end %>
        <% if installment.observations.blank? -%>
          <td class="amount"><%= number_to_currency(installment.value)%></td> 
        <% else -%>
          <td class="amount" data-toggle="tooltip" title="<%= installment.observations %>"><%= number_to_currency(installment.value)%></td> 
        <% end -%>
        <td class="status"><%= content_tag(:i, "", :class => "icon-installment-#{installment.status}") %></td>
        <td>
        	<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_membership_installment_path(@business, membership, installment) %>
        	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_membership_installment_path(@business, membership, installment) %>
  			<%= link_to content_tag(:i, "", :class => "icon-trash"), business_membership_installment_path(@business, membership, installment), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
      </tr>
  <% end %>
</table>
