<% content_for :sidebar do %>
  <h3><%= t('installments.index.title') %></h3>
  <%= render :partial => 'search_form' %>
  <a class="btn" id="update-installment-filter"><%= t('update') %></a>
<% end %>
<p>
  <%= link_to t('actions.mark_as_paid'), new_business_payment_path(@business), :class => "btn btn-sm btn-default", :id => "multiple_mark_as_paid", :disabled => true %>
</p>
<%= render :partial => 'installments', :locals => {:installments => @installments, :include_contact_column => true, :include_form => true} %>
