 <% content_for :sidebar do %>
    <%= render :partial => 'memberships/sidebar' %>
<% end %>

<h2><%= Installment.model_name.human %></h2>
<p><b><%= Installment.human_attribute_name(:agent) %>:</b> <%= @installment.agent.try(:name) %></p>
<p><b><%= Installment.human_attribute_name(:due_on) %>:</b> <%= @installment.due_on %></p>
<p><b><%= Installment.human_attribute_name(:value) %>:</b> <%= @installment.value %></p>
<p><b><%= Installment.human_attribute_name(:observations) %>:</b> <%= @installment.observations %></p>

<% unless @installment.new_record? %>
	<p><b><%= Installment.human_attribute_name(:status) %>:</b> <%= content_tag(:span, @installment.status, :class => "label label-#{@installment.status}") %>
	<%if !@installment.complete?  %>
        <%= link_to t('actions.mark_as_paid'), new_business_membership_installment_payment_path(@business, @installment.membership, @installment), :remote => true %>
    <% end %>
	</p>
<% end %>

<% if can? :manage, @business.transactions.build %>
<h3><%= Installment.human_attribute_name(:transactions) %></h3>
<%= render :layout => 'transactions_table', :locals => {:transactions => @installment.transactions} do |transaction| %>
  <% if can? :manage, @business.transactions.build %>
   <%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_transaction_path(transaction.business, transaction), :remote => true %>
   <%= link_to content_tag(:i, "", :class => "icon-trash"), business_transaction_path(transaction.business, transaction), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
  <% end %>
<% end %>
<% end %>

<%= link_to t('actions.edit'), edit_business_membership_installment_path(@business, @membership, @installment) %> |
<%= link_to t('actions.back'), business_membership_path(@business, @membership) %>
