 <% content_for :sidebar do %>
    <%= render :partial => 'memberships/sidebar' %>
<% end %>

<h2>Installment</h2>
<p>Agent: <%= @installment.agent.name %></p>
<p>Due on: <%= @installment.due_on %></p>
<p>value: <%= @installment.value %></p>

<h3>Transactions</h3>
<%= render :partial => 'transactions_table', :locals => {:transactions => @installment.transactions} %>

<%= link_to 'Edit', edit_business_membership_installment_path(@business, @membership, @installment) %> |
<%= link_to 'Back', business_memberships_path(@business) %>
