<%= simple_form_for(@import, :url => form_url, :validate => true) do |f| %>
		<%= f.input :type, as: :select, :collection => [["Transactions CSV", "TransactionImport"], ["Santander Rio Argentina", "SantanderRioArImport"], ["Mercadopago Argentina", "MercadopagoImport"], ["Galicia Office Argentina","GaliciaOfficeArImport"]], include_blank: false %>
    
    <!-- <a href="#" class="field transaction">Descargá un ejemplo</a> -->
    <p class="field transaction">
      <%= t(".transaction_csv_columns") %>:<br/>
      <%= t(".account_name") %>,<%= t(".date") %>, <%= t(".amount") %>, <%= _("descripción") %>, <%= t(".category") %>, <%= t(".agent_padma_id") %>, <%= t(".contact_name") %>, <%= t(".state") %>
    </p>

		<%= f.input :account_id, as: :select, :collection => @business.accounts.order("name"), wrapper_html: { class: "field santander mercadopago" } %>

    <%= f.input :upload %></p>

    <%= f.submit %>
<% end %>
