<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<div class="actions">
  <%= link_to content_tag(:i, "", class: "icon-upload") +_("Nueva importación"), new_business_import_path(@business), class: "btn pull-right" %>
</div>

<h3><%= _("Importaciones") %></h3>
<table class="table table-striped table-hover table-condensed table-bordered" 
       data-controller="imports_table">
  <thead>
    <tr>
      <th>
        <%= _("Fecha") %>
      </th>
      <th>
        <%= _("descripción") %>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @imports.each do |import| %>
  	<% unless import.new_record? %>
    <tr>
      <td>
        <%= l import.created_at, format: :short %>
      </td>
      <td>
        <%= link_to import.description.blank?? import.id : import.description, business_import_path(@business, import) %>
      </td>
      <td>
        <% if import.archived? %>
          <%= link_to _("recuperar"), business_import_path(@business,import, import: { archived: false }, format: :json), method: :put, confirm: _("¿seguro?"), remote: true, "data-target" => "imports_table.recoverBtn" %>
        <% else %>
          <%= link_to _("archivar"), business_import_path(@business,import, import: { archived: true }, format: :json), method: :put, confirm: _("¿seguro?"), remote: true, "data-target" => "imports_table.archiveBtn" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br />

