<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3>Import</h3>
<p>Id: <%= @import.id %></p>

<h3>Transactions</h3>
<%= render :partial => 'transactions_table', :locals => {:transactions => @import.transactions} %>


<% if @import.errors_csv.present? && !@import.errors_csv.empty? %>
<h3>Errors</h3>
<p>Some rows could not be imported! Download the failed rows to correct them and re-upload them. <%= link_to "Download", errors_business_import_path(@business, @import) %></p>
<p>Hint: You can use this same import, just upload the new file</p>
<% end %>

<%= link_to 'Edit', edit_business_import_path(@business, @import) %> |
<%= link_to 'Back', business_imports_path(@business) %>
