<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2><%= t("agents.edit.#{@business.type.downcase}.title") %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_agent_path(@business, @agent)} %>

<%= link_to t('actions.show'), business_agent_path(@business,@agent) %> |
<%= link_to t('actions.back'), business_agents_path(@business) %>