<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3><%= t("agents.show.#{@business.type.downcase}.title") %></h3>
<p><b><%= Agent.human_attribute_name(:name) %>:</b> <%= @agent.name %></p>

<%= link_to t('actions.edit'), edit_business_agent_path(@business, @agent) %> |
<%= link_to t('actions.back'), business_agents_path(@business) %>
