<% content_for :sidebar do %>
<ul class="nav nav-pills nav-stacked" id="edit-sidebar">
  <li>
    <%= link_to t('actions.back'), :back %>
  </li>
</ul>
<% end %>

<h2 class='title'><%= @contact.name %></h2>
<% if @contact.padma_id.present? %>
  <div>
    (<%= link_to t('.see_in_crm'), "#{Crm::URL}/contacts/#{@contact.padma_id}" %>)
  </div>
<% end %>

<h3><%= Contact.human_attribute_name(:memberships) %></h3>
<table class="contact-memberships table table-striped table-hover table-condensed table-bordered">
  <thead>
    <td><%= Membership.human_attribute_name(:begins_on) %> - <%= Membership.human_attribute_name(:ends_on) %></td>
    <td><%= Membership.human_attribute_name(:payment_type) %></td>
    <td><%= Installment.human_attribute_name(:name) %></td>
  	<td><%= Installment.human_attribute_name(:value) %></td>
  	<td></td>
  </thead>
  <tbody>
  <% @contact.memberships.each do |membership| %>
    <tr>
   		<td><%= membership.begins_on %> - <%= membership.closed_on.present? ? membership.closed_on : membership.ends_on %> <%= content_tag(:span, "Current", :class => "label label-primary") if membership == @contact.current_membership %></td>
   		<td><%= membership.payment_type.name unless membership.payment_type.blank? %></td>
   		<td><%= membership.name unless membership.name.blank? %></td>
   		<td><%= membership.value %></td>
   		<td>
   			<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_membership_path(@business, membership) %>
        	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_membership_path(@business, membership) %>
  			<%= link_to content_tag(:i, "", :class => "icon-trash"), business_membership_path(@business, membership), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
  		</td>
   	</tr>
  <% end %>
  </tbody>
  <tfoot>
    <th colspan=4>
      <%= link_to content_tag(:i, "", :class => "icon-plus") + t('memberships.secondary_navigation.new_membership'), new_business_membership_path(@business, :membership => {:contact_id => @contact.id}) %>
    </th>
  </tfoot>
</table>

<h3><%= Contact.human_attribute_name(:sales) %></h3>
<table class="sales table table-striped table-hover table-condensed table-bordered">
  <thead>
  	<td><%= Sale.human_attribute_name(:sold_on) %></td>
  	<td><%= Sale.human_attribute_name(:product) %></td>
  	<td><%= Sale.human_attribute_name(:amount) %></td>
  	<td><%= Sale.human_attribute_name(:status) %></td>
  	<td></td>
  </thead>
  <tbody>
  <% @contact.sales.each do |sale| %>
    <tr>
      <td><%= l(sale.sold_on, :format => :long) %></td>
      <td><%= sale.try(:product).try(:name) %></td>
      <td><%= number_to_currency(sale.product.price, :unit => sale.product.price_currency.symbol) if sale.product %></td>
      <td><%= content_tag(:span, sale.status, :class => "label label-#{sale.status}") %></td>
      <td>
      	<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_sale_path(@business, sale) %>
      	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_sale_path(@business, sale) %>
  	<%= link_to content_tag(:i, "", :class => "icon-trash"), business_sale_path(@business, sale), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <th colspan=5>
      <%= link_to content_tag(:i, "", :class => "icon-plus") + t('sales.secondary_navigation.new_sale'), new_business_sale_path(@business, :sale => {:contact_id => @contact.id}) %>
    </th>
  </tfoot>

</table>
