<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2>Contact</h2>
<p>Name: <%= @contact.name %></p>

<h3>Membership</h3>
<ul>
<% @contact.memberships.each do |membership| %>
  <p><%= @contact.membership.begins_on %> - <%= @contact.membership.ends_on %> <%= link_to "Show", business_membership_path(@business, @contact.membership) %></p>
<% end %>
</ul>
<% unless @contact.membership.present? %>
  <%= link_to "Assign membership", new_business_membership_path(@business, :membership => {:contact_id => @contact.membership}) %>
<% end %>

<%= link_to 'Edit', edit_business_contact_path(@business, @contact) %> |
<%= link_to 'Back', business_contacts_path(@business) %>
