<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2 class='title'><%= Contact.model_name.human %></h2> (<%= link_to t('actions.edit'), edit_business_contact_path(@business, @contact) %>)
<p>Name: <%= @contact.name %></p>

<h3><%= Contact.human_attribute_name(:memberships) %></h3>
<table class="contact-memberships table table-striped table-hover table-condensed table-bordered">
  <thead>
    <td><%= Membership.human_attribute_name(:begins_on) %> - <%= Membership.human_attribute_name(:ends_on) %></td>
    <td><%= Installment.human_attribute_name(:name) %></td>
  	<td><%= Installment.human_attribute_name(:value) %></td>
  	<td></td>
  </thead>
  <tbody>
  <% @contact.memberships.each do |membership| %>
    <tr>
   		<td><%= membership.begins_on %> - <%= membership.closed_on.present? ? membership.closed_on : membership.ends_on %> <%= content_tag(:span, "Current", :class => "label label-primary") if membership == @contact.current_membership %></td>
   		<td><%= membership.name unless membership.name.blank? %></td>
   		<td><%= membership.value %></td>
   		<td>
   			<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_membership_path(@business, membership) %>
        	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_membership_path(@business, membership) %>
  			<%= link_to content_tag(:i, "", :class => "icon-trash"), business_membership_path(@business, membership), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
  		</td>
   	</tr>
  <% end %>
</table>
<% unless @contact.current_membership.present? %>
  <%= link_to "Assign membership", new_business_membership_path(@business, :membership => {:contact_id => @contact.id}) %>
<% end %>

<h3><%= Contact.human_attribute_name(:sales) %></h3>
<ul>
<% @contact.sales.each do |sale| %>
  <p><%= sale.sold_on %> - <%= sale.try(:product).try(:name) %> <%= link_to t('actions.show'), business_sale_path(@business, sale) %></p>
<% end %>
</ul>

<%= link_to t('actions.back'), :back %>
