<% if can? :create, (rt = @business.recurrent_transactions.new) %>
  <%= content_for :secondary_navigation do %>
    <li class="pull-right">
      <%= link_to content_tag(:i, "", class: "icon-plus") + t("recurrent_transactions.new_modal.new_recurrent_transaction"),
        new_business_recurrent_transaction_path(@business),
        remote: true %>
    </li>
  <% end %>
<% end %>

<table class="transactions recurrent-transactions table table-stripe table-hover table-condensed table-bordered" style="margin-left: -33%">
  <thead>
  <tr data-target="filter.header">
    <td class="type-column"><%= Transaction.human_attribute_name(:type) %></td>
    <td class="state-column"><%= Transaction.human_attribute_name(:state) %></td>
    <td><%= Transaction.human_attribute_name(:description) %></td>
    <td class="amount-column"><%= Transaction.human_attribute_name(:amount) %></td>
    <td class="accounts-column"><%= _("Cuenta") %></td>
    <td class="tag-column"><%= Transaction.human_attribute_name(:tags) %></td>
    <td><%= Transaction.human_attribute_name(:agent) %></td>
    <td><%= Transaction.human_attribute_name(:contact) %></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @recurrent_transactions.each do |t| %>
  <% next if t.id.blank? %>
    <tr>
      <td>
        <%= content_tag(:i, "", class: "pull-right icon-" + t.transaction_type.downcase, title: t.transaction_type) %>
        <%= best_in_place t, :type, url: business_recurrent_transaction_path(@business, t), as: :select, collection: {RecurrentDebit: "RecurrentDebit", RecurrentCredit: "RecurrentCredit"}  %>
      </td>
      <td><%= best_in_place t, :state, url: business_recurrent_transaction_path(@business, t), as: :select, collection: {pending: "pending", created: "created"}  %></td>
      <td>
        <%= best_in_place t, :description, url: business_recurrent_transaction_path(@business, t) %>
      </td>
    <td>
      <% symbol = t.source.try(:currency).try(:symbol) || @business.currency_symbol %>
      <%= best_in_place t,
        :amount,
        url: business_recurrent_transaction_path(@business, t),
        display_with: :number_to_currency,
        class: "keep-line",
        helper_options: {unit: symbol } %>
      <% if t.is_a?(RecurrentTransfer) && t.sign(t.target).to_f.abs!=1.0 %>
        (
        <span class="keep-line">x <%= t.sign(t.target) %></span>
        <span class="keep-line">
          = <%= number_to_currency t.amount*t.sign(t.target),
          unit: t.target.currency.symbol %>
        </span>
        )
      <% end %>
    </td>
      <td>
        <%= best_in_place t, :source_id, :as => :select, :collection => @business.accounts.order("name").map { |i| [i.id, i.name] } , :url => business_recurrent_transaction_path(@business, t) %>
        <% if t.is_a?(RecurrentTransfer) %>
          <br/>-><br/>
          <%= best_in_place_if t.is_a?(RecurrentTransfer), t, :target_id, :as => :select, :collection => @business.accounts.order("name").map { |i| [i.id, i.name] } , :url => business_recurrent_transaction_path(@business, t)%>
        <% end %>
      </td>
      <td class="select2">
        <% begin %>
          <%# avoiding becomes call keeps included tags avoiding call to DB.  %>
          <%= best_in_place t,
            :admpart_tag_id,
            as: :select,
            collection: tag_options_for_select,
            url: business_recurrent_transaction_path(@business, t) %>
        <% end %>
      </td>
      <td><%= best_in_place t, :agent_id, as: :select, collection: agent_options_for_select(t), url: business_recurrent_transaction_path(@business, t) %></td>
      <td class="select2">
        <%= best_in_place t, :contact_id, as: :select, collection: contact_options_for_select, url: business_recurrent_transaction_path(@business, t) %>
      </td>
      <td>
        <%# link_to "ver", business_transactions_path(business_id: @business.id, transaction_search: {recurrent_transaction_id: t.id}) %>
        <%= link_to "eliminar", business_recurrent_transaction_path(business_id: @business.id, id: t.id), method: :delete, data: {confirm: "seguro?"} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>