<p><b><%= Enrollment.human_attribute_name(:agent) %>:</b> <%= enrollment.agent.name %></p>
<p><b><%= Enrollment.human_attribute_name(:value) %>:</b> <%= enrollment.value %></p>
<p><b><%= Enrollment.human_attribute_name(:status) %>:</b> <%= content_tag(:span, enrollment.status, :class => "label label-#{enrollment.status}") %>
	<% if !enrollment.new_record? && !enrollment.complete? %>
        <%= link_to t('actions.mark_as_paid'), new_business_membership_enrollment_payment_path(@business, enrollment.membership, enrollment), :remote => true %>
    <% end %>
</p>