<% content_for :sidebar do %>
<% end %>

<h2><%= Enrollment.model_name.human %></h2>
<%= render :partial => 'enrollment', :locals => {:enrollment => @enrollment} %>


<% if @business.transactions_enabled? %>
<h3><%= Enrollment.human_attribute_name(:transactions) %></h3>
<%= render :layout => 'transactions_table', :locals => {:transactions => @enrollment.trans} do |transaction| %>
    <%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_transaction_path(transaction.business, transaction), :remote => true %>
    <%= link_to content_tag(:i, "", :class => "icon-trash"), business_transaction_path(transaction.business, transaction), data: {:confirm => t('actions.confirm_delete')}, :method => 'delete' %>
<% end %>
<% end %>

<%= link_to t('actions.edit'), edit_business_membership_enrollment_path(@business, @membership) %> |
<%= link_to t('actions.back'), business_membership_path(@business, @membership) %>
