<div id="transaction-split-modal" class = "modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= _("Dividir la transacción en dos") %></h3>
  </div>
  <%= simple_form_for(@spliter,
                      url: business_transaction_transaction_spliters_path(@business, @transaction),
                      html: {
                        class: 'form-horizontal',
                        "data-controller" => "split_form",
                        "data-split_form-original-amount" => @transaction.amount, # dont use data: { split_form... } because underline is lost
                        "data-split_form-error-message" => (_("La suma de las transacciones debe ser %{total}.") % {total: @transaction.amount})
                      }) do |f| %>
    <div class="modal-body">
      <%= f.simple_fields_for :targets do |p| %>
        <%= p.input :description %>

        <div class="control-group" data-controller="calculator">
          <label class="control-label"><%= _("Valor") %></label>
          <div class="controls">
            <input type="text" data-target="calculator.formula split_form.subFormula"
                               data-action="keyup@window->calculator#calculateResult keyup@window->split_form#validate"
                               class="calculatorFormula"
                               ></input> 
            =
            <input type="text" data-target="calculator.result" class="calculatorResult" disabled></input> 
            <%= p.input :amount, as: :hidden, input_html: { data: { target: "calculator.result calculator.initialValue split_form.subAmount" }} %>
          </div>
        </div>

        <%= p.input :tag_ids, as: :select, collection: @business.tags, input_html: {class: "chosen", 'data-placeholder' => t('transactions.fields.tags_placeholder')} %>
        <%= p.input :agent_id, as: :select, collection: @business.agents.enabled, input_html: {class: "chosen", 'data-placeholder' => t('transactions.fields.agent_placeholder')} %>
        <%= p.input :contact_id, as: :select, collection: @business.contacts, input_html: {class: "chosen", 'data-placeholder' => t('transactions.fields.contact_placeholder')} %>
        <hr>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= link_to _("cancelar"), "#", class: "btn", "data-dismiss" => "modal" %>
      <%= f.button :submit, value: _("Dividir transacción"), :class => "btn btn-primary", "data-target" => "split_form.submit" %>
      <span data-target="split_form.errorMessage" ></span>
    </div>
  <% end %>
</div>
