<% page_title _("Histórico") %>

<div>

  <div class="pull-right">
    <%= link_to content_tag(:span){_("Descargar")}+content_tag(:i, "", class: "icon-download"), business_month_tag_totals_path(@business, params.merge({format: "csv"})), class: "btn" %>
  </div>
</div>

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <td>
        Tag
      </td>
      <% @totals.keys.each do |date| %>
        <td>
          <%= l(date, format: :month) %>
        </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @totals[@start_at].each_pair do |section, tag_h| %>
      <% section_totals = Hash.new(0) %>
      <tr>
        <th colspan="<%= 1+@totals.keys.size %>">
          <%= section %>
        </th>
      </tr>
      <% tag_h.keys.each do |tag| %>
        <tr>
          <td>
            <%= tag.name %>
          </td>
          <% @totals.keys.each do |date| %>
            <% section_totals[date] += @totals[date][section][tag] %>
            <td>
              <%= link_to pm(@totals[date][section][tag]), business_transactions_path(
                business_id: @business.id,
                admpart_tag_id: tag.id,
                report_on: date
              ) %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <% section_totals.keys.each do |date| %>
          <th>
            <%= pm section_totals[date] %>
          </th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
