<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <td>
        Tag
      </td>
      <% @totals.keys.each do |date| %>
        <td>
          <%= l(date, format: :month) %>
        </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @totals[@start_at].each_pair do |section, tag_h| %>
      <tr>
        <th colspan="<%= 1+@totals.keys.size %>">
          <%= section %>
        </th>
      </tr>
      <% tag_h.keys.each do |tag| %>
        <tr>
          <td>
            <%= tag.name %>
          </td>
          <% @totals.keys.each do |date| %>
            <td>
              <%= link_to pm(@totals[date][section][tag]), business_transactions_path(
                business_id: @business.id,
                admpart_tag_id: tag.id,
                report_on: date
              ) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
