<% page_title t(".title") %>
<%= render 'content_for_layout' %>

<table class="table table-striped table-hover table-condensed table-bordered">
  <% @month_exchange_rates.group_by(&:ref_date).each_pair do |ref_date, ers| %>

    <tr>
      <th colspan="5"><%= l(ref_date, format: :month) %></th>
    </tr>

    <% ers.each do |er| %>
        <tr>
          <td><%= er.from_currency_id %> -> <%= er.to_currency_id %></td>
          <td><%= best_in_place er, :conversion_rate, url: business_month_exchange_rate_path(@business, er)  %></td>
          <td><%= er.to_currency_id %> -> <%= er.from_currency_id %></td>
          <td><%= best_in_place er, :inverse_conversion_rate, url: business_month_exchange_rate_path(@business, er)  %></td>
          <td>
            <% unless er.blocked? %>
              <%= link_to t("actions.delete"), business_month_exchange_rate_path(business_id: @business.id, id: er.id), method: :delete, data: {confirm: t("actions.confirm_delete")} %>
              <%= link_to content_tag(:i, "", :class => "icon-undo"), refresh_rate_business_month_exchange_rate_path(@business,er), method: 'PUT', data: {confirm: t("actions.confirm")} %>
            <% end %>
          </td>
        </tr>
    <% end %>
  <% end %>
</table>