<%= form_for(@tag, :url => form_url) do |f| %>
    <% if @tag.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

          <ul>
            <% @tag.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><%= f.label :name %><br />
      <%= f.text_field :name %></p>

    <% if @tag.root? %>
      <p><%= f.label :admpart_section %><br />
        <%= f.select :admpart_section, collection: [""]+Admpart::VALID_SECTIONS %></p>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
