<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2><%= _("Editar categoría") %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_tag_path(@business, @tag)} %>

<%= link_to t('actions.show'), business_tag_path(@business,@tag) %> |
<%= link_to t('actions.back'), business_tags_path(@business) %>
