<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3><%= I18n.t("tags.index.title") %></h3>
<ol class="sortable_tree tags" data-rebuild-url="<%= rebuild_business_tags_path(@business) %>">
  <%= sortable_tree @tags %>
</ol>

<br />

<%= link_to 'New Tag', new_business_tag_path(@business) %>
