<% content_for :sidebar do %>
  <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3><%= PaymentType.model_name.human %></h3>
<p><b><%= PaymentType.human_attribute_name(:name) %>:</b> <%= @payment_type.name %></p>
<p><b><%= PaymentType.human_attribute_name(:description) %>:</b> <%= @payment_type.description %></p>


<%= link_to t('actions.edit'), edit_business_payment_type_path(@business, @payment_type) %> |
<%= link_to t('actions.back'), business_payment_types_path(@business) %>
