<!-- 2nd stage: director from profit - start -->
<% if @adm.director_from_profit_percentage %>
  <tr>
    <th><%= @adm.director_from_profit_percentage %>% <%= _("Lucro para el director") %></th>
    <td colspan="3"><%= pm @adm.director_from_profit_pre_expenses_amount %></td>
  </tr>
  <% @adm.root_tags_for_section("director_expenses").each do |tag| %>
    <tr>
      <td colspan="2"></td>
      <td>
        <%= link_to_tag_detail(tag) %>
      </td>
      <td>
        <%= pm @adm.total_for_tag(tag) %>
      </td>
    </tr>
  <% end %>
  <% unless @adm.root_tags_for_section("director_expenses").empty? %>
    <tr>
      <td colspan="2"></td>
      <th><%= _("Lucro para el director") %></th>
      <td><%= pm @adm.director_from_profit_final_amount %></td>
    </tr>
  <% end %>
  <tr>
    <th><%= _("subtotal") %></th>
    <td colspan="3"><%= pm @adm.total_before_owner %></td>
  </tr>
<% end %>
<!-- 2nd stage: director from profit - end -->
