<!-- 2nd stage: director from profit - start -->
<% if @adm.director_from_profit_percentage %>
  <tr>
    <th><%= @adm.director_from_profit_percentage %>% <%= t(".director_winnings") %></th>
    <td colspan="3"><%= @adm.director_from_profit_pre_expenses_amount %></td>
  </tr>
  <% @adm.root_tags_for_section("director_expenses").each do |tag| %>
    <tr>
      <td colspan="2"></td>
      <td>
        <%= link_to tag.name,
                    business_tag_path(business_id: @business.id, id: tag.id) %>
      </td>
      <td>
        <%= @adm.total_for_tag(tag) %>
      </td>
    </tr>
  <% end %>
  <% unless @adm.root_tags_for_section("director_expenses").empty? %>
    <tr>
      <td colspan="2"></td>
      <th><%= t(".director_winnings") %></th>
      <td><%= @adm.director_from_profit_final_amount %></td>
    </tr>
  <% end %>
  <tr>
    <th><%= t(".subtotal") %></th>
    <td colspan="3"><%= @adm.total_before_owner %></td>
  </tr>
<% end %>
<!-- 2nd stage: director from profit - end -->
