<table class="table table-striped table-hover table-condensed table-bordered">
<tr>
  <th colspan="6">
    <%= link_to_tag_detail(@adm.enrollments_tag) %>
  </th>
</tr>
<tr>
  <th><%= _("Instructor") %></th>
  <th><%= _("Recaudado por matrículas") %></th>
  <th><%= _("Comisión") %></th>
  <th><%= _("Matrículas hechas") %></th>
  <th><%= _("Premio") %></th>
  <th><%= _("Queda para el instructor") %></th>
</tr>
<% @adm.team_members.each do |tm| %>
  <tr>
    <th><%= tm.name %></th>
    <td><%= pm @adm.total_for_tag(@adm.enrollments_tag, tm.id) %></td>
    <td><%= pm @adm.agent_enrollments_comission(tm) %></td>
    <td><%= @adm.enrollments_by_teacher[tm.padma_id] %></td>
    <td>
      <% if @adm.agent_enrollments_prize(tm) != 0 %>
        <%= pm @adm.agent_enrollments_prize(tm) %>
        +
      <% end %>
      <% cp = @adm.custom_prize_for("enrollment",tm) %>
      <%= best_in_place cp, :amount, url: custom_prize_path(cp), display_with: :number_to_currency,
          helper_options: { unit: @business.currency_symbol } %>
    </td>
    <td><%= pm @adm.agent_from_enrollments_total(tm) %></td>
  </tr>
<% end %>
<tr>
  <th><%= t(".no_teacher") %></th>
  <td><%= pm @adm.total_for_tag(@adm.enrollments_tag, "") %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <th></th>
  <th><%= pm @adm.total_for_tag(@adm.enrollments_tag, nil, ignore_discounts: true) %></th>
  <th colspan="3"></th>
  <th><%= pm @adm.enrollments_total_discount %></th>
</tr>
</table>
