<table class="table table-striped table-hover table-condensed table-bordered">
<tr>
  <th colspan="6"><%= t(".enrollments") %></th>
</tr>
<tr>
  <th><%= t(".agent") %></th>
  <th><%= t(".enrollments_income") %></th>
  <th><%= t(".enrollments_comission") %></th>
  <th><%= t(".enrollments_quantity") %></th>
  <th><%= t(".enrollments_prize") %></th>
  <th><%= t(".total_for_agent") %></th>
</tr>
<% @adm.team_members.each do |tm| %>
  <tr>
    <th><%= tm.name %></th>
    <td><%= pm @adm.total_for_tag(@adm.enrollments_tag, tm.id) %></td>
    <td><%= pm @adm.agent_enrollments_comission(tm) %></td>
    <td><%= @adm.enrollments_by_teacher[tm.padma_id] %></td>
    <td><%= pm @adm.agent_enrollments_prize(tm) %></td>
    <td><%= pm @adm.agent_from_enrollments_total(tm) %></td>
  </tr>
<% end %>
<tr>
  <th><%= t(".no_teacher") %></th>
  <td><%= pm @adm.total_for_tag(@adm.enrollments_tag, "") %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <th></th>
  <th><%= pm @adm.total_for_tag(@adm.enrollments_tag, nil, ignore_discounts: true) %></th>
  <th colspan="3"></th>
  <th><%= pm @adm.enrollments_total_discount %></th>
</tr>
</table>
