<table class="table table-striped table-hover table-condensed table-bordered">
<tr>
  <th colspan="4"><%= t(".eq_distributions") %></th>
</tr>
<tr>
  <th><%= t(".agent") %></th>
  <% tags = @adm.root_tags_for_section("equal_distribution") %>
  <% tags.each do |tag| %>
    <th><%= link_to_tag_detail tag %></th>
  <% end %>
  <th><%= t("total") %></th>
</tr>
<% agent_total = @adm.agent_from_equal_distribution_section %>
<% @adm.team_members.each do |tm| %>
  <tr>
    <th><%= tm.name %></th>
    <% tags.each do |tag| %>
      <td><%= pm @adm.total_for_tag(tag) / @adm.team_members.size %></td>
    <% end %>
    <td><%= pm agent_total %></td>
  </tr>
<% end %>
<tr>
  <th></th>
  <% tags.each do |tag| %>
    <th><%= pm @adm.total_for_tag(tag) %></th>
  <% end %>
  <th><%= pm @adm.section_total("equal_distribution") %></th>
</tr>
</table>
