<!-- incomes n expenses start -->
<% incomes = @adm.sorted_roots_and_values_for_section("income",inverse: 1) %>
<% expenses = @adm.sorted_roots_and_values_for_section("expense") %>
<% i = 0 %>
<%= loop do %>
  <% income= incomes[i] %>
  <% expense= expenses[i] %>
  <% i += 1 %>
  <% break if income.nil? && expense.nil? %>
  <tr>
    <td>
      <%= link_to_tag_detail(income[0]) if income %>
    </td>
    <td>
      <%= pm(income[1]) if income %>
    </td>
    <td>
      <%= link_to_tag_detail(expense[0]) if expense %>
    </td>
    <td>
      <%= pm expense[1] if expense %>
    </td>
  </tr>
<% end %>
<tr>
  <th><%= t(".total_income") %></th>
  <td><%= pm @adm.section_total("income") %></td>
  <th><%= t(".total_expense") %></th>
  <td><%= pm @adm.section_total("expense") %></td>
</tr>
<tr>
  <th><%= t(".profit") %></th>
  <td <%= "colspan=3" if @adm.not_tagged_total == 0%>><%= pm @adm.profit %></td>
  <% if @adm.not_tagged_total != 0 %>
    <th><%= link_to_not_tagged _("Transacciones ignoradas:") %></th>
    <td><%= pm(@adm.not_tagged_total) %>
  <% end %>
  </td>
</tr>
<!-- incomes n expenses end -->
