<tr>
  <th><%= @adm.owners_percentage %>% <%= _("Lucro para inversores") %></th>
  <td><%= pm @adm.owners_pre_expenses_amount %></td>
  <th><%= @adm.teams_percentage %>% <%= _("Lucro para el equipo") %></th>
  <td><%= pm @adm.teams_pre_expenses_amount %></td>
</tr>

<% i = 0 %>
<% loop do %>
  <% owner_tag = @adm.root_tags_for_section("owners_expenses")[i] %>
  <% team_tag = @adm.root_tags_for_section("teams_expenses")[i] %>
  <% break if owner_tag.nil? && team_tag.nil? %>
  <% i += 1 %>
  <tr>
    <td>
      <%= link_to_tag_detail(owner_tag) if owner_tag %>
    </td>
    <td>
      <%= pm @adm.total_for_tag(owner_tag) if owner_tag %>
    </td>
    <td>
      <%= link_to_tag_detail(team_tag) if team_tag %>
    </td>
    <td>
      <%= pm @adm.total_for_tag(team_tag) if team_tag %>
    </td>
  </tr>
<% end %>

<% unless @adm.root_tags_for_section("owners_expenses").empty? && @adm.root_tags_for_section("teams_expenses").empty?%>
  <tr>
    <th>
      <%= _("Lucro para inversores") %>
    </th>
    <td>
      <%= pm @adm.owners_aft_expenses_amount %>
    </td>
    <th>
      <%= _("Lucro para el equipo") %>
    </th>
    <td><%= pm @adm.teams_final_amount %></td>
  </tr>
<% end %>
<% unless @adm.dir_from_owners_aft_expses_percentage.blank? %>
  <tr>
    <th>
      <%= @adm.dir_from_owners_aft_expses_percentage %>% <%= _("Lucro para el director") %>
    </th>
    <td>
      <%= pm @adm.director_from_owners_amount %>
    </td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <th>
      <%= _("Lucro para inversores") %>
    </th>
    <td>
      <%= pm @adm.owners_final_amount %>
    </td>
    <td colspan="2"></td>
  </tr>
<% end %>

