<table class="table table-striped table-hover table-condensed table-bordered" id="admpart-team-distribution">
<tr>
  <th colspan="4"><%= _("Recaudación por mensualidades y % de administración.") %></th>
</tr>
<tr>
  <th><%= _("Instructor") %></th>
  <th><%= _("Recaudado por mensualidades") %></th>
  <th><%= _("Porcentaje del total") %></th>
  <th><%= _("Retira del lucro del equipo") %></th>
</tr>
<% team_winnings = @adm.teams_final_amount %>
<% acum = 0 %>
<% @adm.team_members.each do |tm| %>
  <% acum += @adm.agent_installments_collection_total(tm) %>
  <tr>
    <th><%= tm.name %></th>
    <td><%= pm @adm.agent_total_collection(tm) %></td>
    <td><%= number_with_precision((per = @adm.agent_from_team_final_amount_percentage(tm)), precision: 2) %>%</td>
    <td><%= pm per.nan?? 0 : (team_winnings * per / 100) %></td>
  </tr>
<% end %>
  <tr>
    <th><%= _("Sin instructor asociado") %></th>
    <td><%= pm (@adm.total_for_tag(@adm.installments_tag)-acum) %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th><%= _("Total") %></th>
    <td><%= pm @adm.total_for_tag(@adm.installments_tag) %></td>
    <td></td>
    <td></td>
  </tr>
<tr>
  <td colspan="4">
    <%= link_to _("Detalle de la distribución de mensualidades por asistencias"), attendance_detail_business_admpart_path(@adm.business, @adm) %>
  </td>
</tr>
</table>
