<div class="hide-in-print">
  <%= render "warnings" %>
</div>

<div id="admpart-date-select">
        <%= select_tag :ref_date,
                       ref_date_options,
                       data: { action: "redirectOnChange", business_id: @adm.business_id  } %><br/>
  <% if @adm.queued_refresh.nil? %>
    <%= link_to _("Recalcular administración ahora"), business_admpart_path(@adm.business,@adm), class: "hide-in-print" %>
  <% end %>
</div>
<div id="admpart">

<%= render "refreshing" %>

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th colspan="4" class="form-horizontal form-inline">
        <%= l(@adm.ref_date, format: :month) %>
      </th>
    </tr>
    <tr>
      <th colspan="2"><%= t('.incomes') %></th>
      <th colspan="2"><%= t('.expenses') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render "incomes_expenses" %>
    <%= render "director_from_profit" %>
    <%= render "owners_team" %>
  </tbody>
</table>

<%= render "team_distribution" %>
<%= render "enrollments" %>
<%= render "sales" %>

<%= render "eq_distributions" %>

<%= render "total_by_agent" %>

<%= link_to t("actions.edit"), edit_business_admpart_path(@adm.business,@adm) %>

<h4><%= t(".ignored_tags") %></h4>
<% @adm.wout_section_root_tags.each do |tag| %>
  <div>
    <%= link_to tag.name, business_tag_path(business_id: @business.id, id: tag.id) %>
  </div>
<% end %>
</div>
