<%= render "warnings" %>

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th colspan="4"><%= l(@ref_date, format: :month) %></th>
    </tr>
    <tr>
      <th colspan="2"><%= t('.incomes') %></th>
      <th colspan="2"><%= t('.expenses') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render "incomes_expenses" %>
    <%= render "director_from_profit" %>
    <%= render "owners_team" %>
  </tbody>
</table>

<%= render "team_distribution" %>
<%= render "enrollments" %>
<%= render "sales" %>

<%= render "total_by_agent" %>

<%= link_to t("actions.edit"), edit_business_admpart_path(business_id: @adm.business_id) %>

<table>
  <tr><th><%= t(".ignored_tags") %></th></tr>
  <% @adm.wout_section_root_tags.each do |tag| %>
    <tr>
      <td>
        <%= link_to tag.name, business_tag_path(business_id: @business.id, id: tag.id) %>
      </td>
    </tr>
  <% end %>
</table>
