$('.transactions.table tbody').prepend("<tr data-target='filter.item' id='transaction_row_<%= @transaction.id %>' data-id='<%= @transaction.id %>'><%= escape_javascript render(:partial => 'application/transactions_table_item', :locals => {:transaction => @transaction}) %><td><%= escape_javascript link_to(content_tag(:i, '', :class => 'icon-edit'), business_transaction_path(@transaction.business, @transaction)) %> <%= escape_javascript link_to(content_tag(:i, '', :class => 'icon-trash'), business_transaction_path(@transaction.business, @transaction), :confirm => _('¿Seguro que desea eliminar esta transacción?'), :method => 'delete') %></td></tr>")

jQuery("#transaction_row_<%= @transaction.id %> .best_in_place").best_in_place();
