<% if @account %>
  <div class="pull-right" id="account_balance_title">
    <%= _("Balance %{account_name}") % { account_name: @account.name } %>: 
    <span class="account_<%= @account.id %>_balance">
      <%= number_to_currency(@account.balance, unit: @account.currency.symbol) %>
    </span>
    <% if can?(:create, @account.balance_checks.build ) %>
      <%= link_to content_tag(:i, "", class: "icon-edit"),
                  new_business_account_balance_check_path(@business, @account),
                  remote: true %>
    <% end %>
    <%= link_to content_tag(:i, "", class: "icon-list"),
                business_account_transactions_path(@business, @account, active_only: 1, start_date: Date.civil(1,1,1), end_date: Date.civil(3000,1,1)),
                "data-toggle" => "tooltip",
                title: _("Ver solo los movimientos desde el último cierre de caja") %>
  </div>
<% end %>
