<div id="edit-transaction-modal" class = "modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= _("Editar transacción") %></h3>
  </div>
  <%= simple_form_for(@transaction, :as => :transaction, :url => business_transaction_path(@business, @transaction), :validate => true, :remote => true, :html => {:class => 'form-horizontal transactionFields', :data => { :controller => "transaction_form" } }) do |f| %>
      <%= render :partial => 'transactions/fields', :locals => {:f => f} %>

      <% %w(sale installment enrollment).each do |nested_resource_type| %>
          <% f.object.send("#{nested_resource_type}_ids").each_with_index do |nested_resource_id, index| %>
            <div class="control-group controls">
              <%= _("vinculado a ") %><%= link_to "#{nested_resource_type}##{nested_resource_id}",
                          send("business_#{nested_resource_type}_path",
                               @business,nested_resource_id),
                          target: "_blank" %>
            </div>
            <%= f.input "#{nested_resource_type}_ids", :as => :hidden, :input_html => {:id => "#{nested_resource_type}_ids_#{index}", :name => "transaction[#{nested_resource_type}_ids][]", :value => nested_resource_id} %>
          <% end %>
      <% end %>

      <div class="modal-footer">
        <%= link_to _("Close"), "#", :class => "btn", "data-dismiss" => "modal" %>
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
  <% end %>
</div>
