<%= f.input :type, :collection => ["Debit", "Credit", "Transfer"], :as => :radio_buttons, :item_wrapper_class => 'inline' %>

<%= f.input :description %>

<%= f.input :amount %>

<%= f.association :source, :collection => @business.accounts, :prompt => "Please select source account" %>

<span class="transfer_field" style="display:none;">
  <%= f.input :target_id, :as => :select, :collection => @business.accounts, :prompt => "Please select target account" %>
</span>

<%= f.input :transaction_at, :as => :date_time_picker %>

<span class="transfer_field" style="display:none;">
  <%= f.input :conversion_rate %>
</span>

<%= f.input :state, :as => :select, :collection => Transaction.available_states %>

<span class="pending_field" style="display:none;">
  <%= f.input :reconciled_at, :as => :date_time_picker %>
</span>

<%=  f.input :tag_ids, :as => :select, :collection => @business.tags, :input_html => {:class => "chosen", :multiple => true} %>