<%= f.input :type,
            collection: [[Debit.model_name.human, "Debit"], [Credit.model_name.human, "Credit"], [Transfer.model_name.human, "Transfer"]],
            as: :radio_buttons,
            item_wrapper_class: 'inline',
            input_html: {
              disabled: !@transaction.change_allowed?(:type),
              data: {
                target: "transaction-form.transactionTypeOption",
                action: "change->transaction-form#updateFormFields change->transaction-form#updateColor",
              }
            } %>

<%= f.input :description, input_html: {disabled: !@transaction.change_allowed?(:description)} %>

<div class="control-group" data-controller="calculator">
  <label class="control-label"><%= _("Valor") %></label>
  <div class="controls">
    <input type="text" data-target="calculator.formula"
           data-action="keyup@window->calculator#calculateResult"
           class="calculatorFormula"
           <%= "disabled" if !@transaction.change_allowed?(:amount) %>
      />
    =
    <input type="text" data-target="calculator.result" class="calculatorResult" disabled/>
    <%= f.input :amount, as: :hidden, input_html: { data: { target: "calculator.result calculator.initialValue" }} %>
  </div>
</div>

<div class="credit_field" style="display:none;">
  <% unless @transaction.persisted? %>
    <%= f.input :receipt_on_create, as: :boolean, label: false, inline_label: t(".create_receipt") %>
  <% end %>
</div>

<%= f.association :source,
  collection: @business.accounts.order("name").map{|a| [a.name, a.id, {data: {currency: a.currency_code}}]},
  prompt: t('transactions.fields.source_prompt'),
  input_html: {
    data: {
      target: "transaction-form.sourceAccount",
      action: "transaction-form#updateConversionRate"
    },
    disabled: !@transaction.change_allowed?(:source_id)
  } %>

<span class="transfer_field" style="display:none;" data-target="transaction-form.transferField">
  <%= f.input :target_id,
    as: :select,
    collection: @business.accounts.order("name").map{|a| [a.name, a.id, {data: {currency: a.currency_code}}]},
    prompt: t('transactions.fields.target_prompt'),
    input_html: {
      data: {
        target: "transaction-form.targetAccount",
        action: "transaction-form#updateConversionRate"
      },
      disabled: !@transaction.change_allowed?(:target_id)
    } %>
</span>

<div class="control-group controls">
  <a href="#" data-action="transaction-form#toggleExtraOptions">
  <span data-target="transaction-form.toggleButtonVerb" data-show-msg="<%= _("mostrar") %>" data-hide-msg="<%= _("ocultar") %>"></span>
    <%= _("más opciones") %>
  </a>
</div>

<div data-target="transaction-form.extraFieldsContainer">

  <%= f.input :transaction_at, as: :date_time_picker, input_html: {disabled: !@transaction.change_allowed?(:transaction_at)} %>

  <span class="transfer_field" style="display:none;" data-target="transaction-form.transferField">
    <%= f.input :conversion_rate,
      input_html: {
        disabled: !@transaction.change_allowed?(:conversion_rate),
        data: {
          target: "transaction-form.conversionRateField"
        }
      } %>
  </span>

  <%= f.input :state,
              as: :select,
              collection: Transaction.available_states.map{|s| [t(".state_options.#{s}"),s]},
              input_html: {
                disabled: !@transaction.change_allowed?(:state),
                data: {
                  target: "transaction-form.stateField",
                  action: "transaction-form#updateFormFields" }
              } %>

  <span class="pending_field" style="display:none;">
    <%= f.input :reconciled_at, as: :date_time_picker, input_html: {disabled: !@transaction.change_allowed?(:reconciled_at)} %>
  </span>

  <%= f.input :report_at,
    as: :date,
    discard_day: true,
    input_html: {
      disabled: !@transaction.change_allowed?(:report_at)
    } %>

  <%# Chosen no me muestra el blank si no lo agrego a la colección %>
  <%=  f.input :tag_ids,
    as: :select,
    collection: [['-',nil]]+@business.tags.map { |t| [t.name, t.id] },
    input_html: {
      disabled: !@transaction.change_allowed?(:tag_ids),
      class: "chosen",
      'data-placeholder' => t('transactions.fields.tags_placeholder')
    } %>

  <%=  f.input :agent_id, :as => :select, :collection => @business.agents.enabled, :input_html => {disabled: !@transaction.change_allowed?(:agent_id), :class => "chosen", 'data-placeholder' => t('transactions.fields.agent_placeholder')} %>

  <%=  f.input :contact_id, :as => :select, :collection => @business.contacts, :input_html => {disabled: !@transaction.change_allowed?(:contact_id), :class => "chosen", 'data-placeholder' => t('transactions.fields.contact_placeholder')} %>
</div>
