<%= simple_form_for @transaction_search,
  method: :get,
  url: business_transactions_path(business_id: @business.id),
  data: {
    controller: "transactions_search",
    target: "transactions_search.form"
  } do |f| %>
  <div class="fieldsContainter" data-target="transactions_search.fieldsContainer">
    <%= f.input :description %>
    <%= f.input :amount_gte, input_html: {class: ""} %>
    <%= f.input :amount_lte %>
    <%= f.input :smart_meta_period, collection: {
      t(".current_month") => "current_month",
      t(".previous_month") => "previous_month",
      t(".month_before_last") => "month_before_last",
      t(".other_period") => "other_period"
    }, input_html: {class: "chosen"} %>
    <%= f.input :transacted_at_meta_period, collection: {
      t(".current_month") => "current_month",
      t(".previous_month") => "previous_month",
      t(".month_before_last") => "month_before_last",
      t(".other_period") => "other_period"
    }, input_html: {class: "chosen"} %>
    <%= f.input :reconciled_at_meta_period, collection: {
      t(".current_month") => "current_month",
      t(".previous_month") => "previous_month",
      t(".month_before_last") => "month_before_last",
      t(".other_period") => "other_period"
    }, input_html: {class: "chosen"} %>
    <%= f.input :report_on_meta_period, collection: {
      t(".current_month") => "current_month",
      t(".previous_month") => "previous_month",
      t(".month_before_last") => "month_before_last",
      t(".other_period") => "other_period"
    }, input_html: {class: "chosen"} %>
    <%= f.input :source_account_id, collection: @business.accounts.order("name"), input_html: {class: "chosen", multiple: true} %>
    <%= f.input :type, collection: Transaction::TYPES, input_html: {class: "chosen", multiple: true} %>
    <%= f.input :contact_id, collection: contact_options_for_select.map{|o| [o[1],o[0]]}, input_html: {class: "chosen", multiple: true} %>
    <%= f.input :admpart_tag_id, collection: tag_options_for_select.map{|o| [o[1],o[0]]}, input_html: {class: "chosen", multiple: true} %>
    <%= f.submit t("search") %>
  </div>
  <div class="row-fluid">
    <button class="pull-right" data-action="transactions_search#toggleFields"><span class="icon-search"></span></button>
  </div>

<% end %>