<div id="tagSummary" class="row-fluid">
  <h1><%= @tag.name %> @ <%= l(@report_date, format: :month) %></h1>

  <table  class="table-striped table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th><%= @tag.name %> @ <%= l(@report_date, format: :month) %></th>
        <th><%= pm @tag.month_total(@report_date) %></th>
      </tr>
    </thead>
    <tbody>
      <% @tree_totals.keys.each do |tag| %>
        <tr>
          <td>
            <%= link_to "#{tag.name} @ #{l(@report_date, format: :month)}",
                        business_transactions_path(
                          business_id: @business.id,
                          admpart_tag_id: tag.id,
                          report_on: @report_date
                        )
            %>
          </td>
          <td><%= pm @tree_totals[tag] %></td>
        </tr>
      <% end %>
      <tr>
    </tbody>
  </table>

</div>
