<div id="tagSummary" class="row-fluid">
  <h1>
    <%= @tag.name %> @ <%= l(@report_date, format: :month) %>
  </h1>

  <table class="table-striped table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th><%= @tag.name %></th>
        <% @dates.reverse.each do |date| %>
          <th class="<%= "current_date" if date == @report_date %>"><%= l(date, format: :month) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tree_totals.keys.each do |tag| %>
        <tr>
          <td>
            <%= tag.name %>

          </td>
          <% @dates.reverse.each do |date| %>
            <td class="<%= "current_date" if date == @report_date %>">
              <%= link_to pm(@tree_totals[tag][date]),
                          business_transactions_path(
                            business_id: @business.id,
                            admpart_tag_id: tag.id,
                            report_on: date
                          )
              %>
              <%=  %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
    </tbody>
  </table>

</div>
