<table>Transactions:
  <thead>
  <td>Type</td>
  <td>Description</td>
  <td>Amount</td>
  <td>Source</td>
  <td>Target</td>
  <td>Date</td>
  <td></td>
  </thead>

  <% context.transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.type %></td>
        <td><%= transaction.description %></td>
        <td><%= number_to_currency(transaction.amount, :unit => transaction.source.currency.symbol) %></td>
        <td><%= transaction.source.name %></td>
        <td><%= transaction.target.name if transaction.is_a? Transfer%></td>
        <td><%= transaction.transaction_at %></td>
        <td><%= link_to "Show", transaction_path(transaction) %></td>
      </tr>
  <% end %>
</table>