<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<div class="actions">
<% if can? :create, @business.imports.build %>
  <%= link_to content_tag(:i, "", :class => "icon-upload") + I18n.t('transactions.index.import'), new_business_import_path(@business), :class => "btn" %>
<% end %>
  <%= link_to content_tag(:i, "", :class => "icon-bar-chart") + I18n.t('transactions.index.stats'), stats_business_transactions_path(@business, :start_date => @start_date.to_date, :end_date => @end_date.to_date), :remote => true, :class => "btn" %>

  <span class="control-group pull-right">
    <span class="controls">
      <span class="input-prepend">
    	<span class="add-on icon-calendar"></span>
    	<input type="text" class="daterange form-control" id="transaction_search_daterange" value='<%= "#{I18n.l(@start_date.to_date)} - #{I18n.l(@end_date.to_date)}" %>'/>
  	  </span>
    </span>
  </span>
</div>

<h3><%= I18n.t('transactions.index.title') %></h3>
<%= render :layout => 'transactions_table', :locals => {:transactions => @transactions} do |transaction| %>
  <% if can? :manage, @business.transactions.build %>
  <%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_transaction_path(transaction.business, transaction), :remote => true %>
  <%= link_to content_tag(:i, "", :class => "icon-trash"), business_transaction_path(transaction.business, transaction), :confirm => I18n.t('actions.confirm_delete'), :method => 'delete' %>
  <% end %>
<% end %>