<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>

<div class="actions">
  <%= link_to content_tag(:i, "", :class => "icon-upload") + "Import CSV", new_business_import_path(@business), :class => "btn" %>
</div>

<h3>Transactions</h3>
<%= render :layout => 'transactions_table', :locals => {:transactions => @transactions} do |transaction| %>
  <%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_transaction_path(transaction.business, transaction), :remote => true %>
  <%= link_to content_tag(:i, "", :class => "icon-trash"), business_transaction_path(transaction.business, transaction), :confirm => 'Are you sure you want to delete this item?', :method => 'delete' %>
<% end %>