<% content_for :head do %>
  <meta http-equiv="refresh" content="<%= 15.minutes %>" >
<% end %>
<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<% content_for :top do %>
  <button data-action="sidebar#toggleSideBar" data-target="sidebar.toggler" data-show-msg="<%= _("mostrar") %>" data-hide-msg="<%= _("ocultar") %>" class="btn hide-in-print"><span data-target="sidebar.togglerVerb"></span> <%= _("cuentas") %></button>
<% end %>

<% if @tag and @report_date %>
  <%= render "tag_summary" %>
<% end %>

<%= form_tag batch_edit_business_transactions_path(@business), method: :get, remote: true, "data-controller" => "filter transactions_table" do %>
<div class="actions row-fluid hide-in-print">
  <% if can? :create, @business.imports.build %>
    <%= link_to content_tag(:i, "", class: "icon-upload") + I18n.t('transactions.index.import'),
      new_business_import_path(@business, import: { account_id: @account.try(:id) }),
                class: "btn" %>
  <% end %>
  <%= submit_tag _("Editar"), class: "btn" %>

  <%# link_to content_tag(:i, "", :class => "icon-bar-chart") + I18n.t('transactions.index.stats'), stats_business_transactions_path(@business, :start_date => @start_date.to_date, :end_date => @end_date.to_date), :remote => true, :class => "btn" %>

  <div class="pull-right">
    <%= link_to content_tag(:i, "", class: "icon-download"), business_transactions_path(@business, params.merge({format: "csv"})), class: "btn" %>
    <%= render partial: "drive_button" %>
  </div>
  <span class="control-group pull-right">
    <span class="controls">
      <span class="input-prepend">
    	<span class="add-on icon-calendar"></span>
    	<input type="text" class="daterange form-control" id="transaction_search_daterange" value='<%= "#{I18n.l(@start_date.to_date)} - #{I18n.l(@end_date.to_date)}" %>'/>
  	  </span>
    </span>
  </span>

  <%= render "balance_title" %>
</div>

<div class="row-fluid hide-in-print">
  <div class="span10"></div>
  <div id="filterContainer" class="span2">
    <input type="text" id="transactionsFilter" data-target="filter.query" data-action="keyup@window->filter#filterItems" disabled></input>  
    <span id="datelessSearch" class="icon-filter" data-action="click->filter#datelessSearch" title="<%= _("Buscar en la description sin limite de fechas") %>"></span>
  </div>
</div>

<%= render layout: 'transactions_table', locals: {transactions: @transactions} do |transaction| %>
  <span class="hide-in-print">
  <% if can? :edit, transaction %>
    <%= link_to content_tag(:i, "", class: "icon-edit"), edit_business_transaction_path(transaction.business, transaction), remote: true %>
  <% end %>
  <% if can? :destroy, transaction %>
    <%= link_to content_tag(:i, "", class: "icon-trash"), business_transaction_path(transaction.business, transaction), confirm: I18n.t('actions.confirm_delete'), method: 'delete', remote: true %>
  <% end %>
  <% if can? :split, transaction %>
    <%= link_to content_tag(:i, "", class: "icon-cut"), new_business_transaction_transaction_spliter_path(transaction.business, transaction), remote: true %>
  <% end %>
  </span>
<% end %>
<div id="pagination">
<%= paginate @transactions %>
</div>
<% end %>

<% if params[:active_only] %>
  <div class="alert alert-notice">
    <p>
      <%= _("Mostrando solo los movimientos que hubo después del último cierre de caja y que afectan al saldo") %>.<br/>
      <% if @account.last_balance_check %>
        <b><%= number_to_currency @account.last_balance_check.balance, unit: @account.currency.symbol %> @ <%= l @account.last_balance_check.checked_at, format: :short %></b>
      <% end %>
    </p>
    <p>
      <%= link_to _("volver a %{account}") % { account: @account.name } , business_account_transactions_path(@business,@account) %>
    </p>
  </div>
<% end %>
