<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<h3>Transaction</h3>
<p>Type: <%= @transaction.type %></p>
<p>Business: <%= @transaction.business.name %></p>
<p>Source: <%= @transaction.source.name %></p>
<p>Description: <%= @transaction.description %></p>
<p>Amount: <%= @transaction.amount %></p>
<p>Date: <%= @transaction.transaction_at %></p>
<p>Tags:
<ul>
  <% @transaction.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_business_transaction_path(@transaction.business, @transaction) %> |
<%= link_to 'Back',:back %>
