<table class="nested transactions table table-striped table-hover table-condensed table-bordered" data-type="<%= f.object.class.to_s.downcase %>">
  <%= render :partial => 'transactions_table_header' %>

  <%= f.fields_for :transactions do |transaction_f| %>
      <tr>
        <%= render :partial => 'transactions_table_item', :locals => {:transaction => transaction_f.object} %>
        <td>
          <%= link_to  content_tag(:i, "", :class => "icon-remove"), "#", :class => "remove-nested-transaction" %>
          <%= transaction_f.hidden_field :id %>
          <%= transaction_f.hidden_field :_destroy, :class => "destroy-value" %>
        </td>
      </tr>
  <% end %>
  <tfoot>
    <td colspan="9">
      <%= link_to 'Add transaction', new_business_transaction_path(@business, :transaction => {"#{f.object.class.to_s.downcase}_ids" => [f.object.id]}), :remote => true %>
      <%= link_to "List transactions", "#list-transactions-modal", 'data-toggle' => 'modal' %>
    </td>
  </tfoot>
</table>

<div id="list-transactions-modal" class = "modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Link Transaction</h3>
  </div>
  <div class="modal-body">
    <%= render :layout => "transactions_table", :locals => {:transactions => transactions} do |transaction| %>
        <%= link_to content_tag(:i, "", :class => "icon-link"), "#", :class => "link-transaction-button" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= link_to "Close", "#", :class => "btn", "data-dismiss" => "modal" %>
  </div>
</div>