<thead>
  <tr data-target="filter.header">
    <td></td>
    <td><%= Transaction.human_attribute_name(:type) %></td>
    <td><%= Transaction.human_attribute_name(:description) %></td>
    <td><%= Transaction.human_attribute_name(:amount) %></td>
    <td><%= _("Cuenta") %></td>
    <td><%= _("Fecha") %></td>
    <td><%= Transaction.human_attribute_name(:tags) %></td>
    <td><%= Transaction.human_attribute_name(:agent) %></td>
    <td><%= Transaction.human_attribute_name(:contact) %></td>
    <td></td>
  </tr>
</thead>

<% if @ending_balance && @account && @end_date  %>
  <thead class="partial_balance">
    <tr>
      <th colspan="2"></th>
      <td><%= _("Balance al %{ref_date}") % { ref_date: l(@end_date, format: :short)} %></td>
      <td class="align-left keep-line"><%= number_to_currency @ending_balance, unit: @account.currency.symbol, precision: 2 %></td>
      <td><%= @account.name %></td>
      <td><%= l(@end_date, format: :short) %></td>
      <td colspan="4"></td>
    </tr>
  </thead>
<% end %>
