<table class="transactions table table-striped table-hover table-condensed table-bordered"
       data-controller="sum_selected sum_filtered"
       data-action="listrefreshed@window->sum_selected#showSubtotal listrefreshed@window->sum_filtered#showSubtotal"
  >
  <%= render :partial => 'transactions_table_header' %>

  <% acum = 0 %>
  <% transactions.each do |transaction| %>
    <% if params[:admpart_tag_id] || params[:show_subtotal] %>
      <% acum += (transaction.type=="Credit")? transaction.amount : ((transaction.type=="Debit")? -transaction.amount : 0) %>
    <% end %>
    <tr data-id="<%= transaction.id %>" data-target="filter.item sum_filtered.row">
      <%= render partial: 'transactions_table_item', locals: {transaction: transaction} %>
      <td>
        <%= yield transaction %>
      </td>
    </tr>
  <% end %>
  <% if params[:admpart_tag_id] || params[:show_subtotal] %>
    <tr>
      <td></td>
      <td></td>
      <td><%= _("Subtotal Entradas - Salidas") %></td>
      <td><%= number_to_currency acum, unit: @business.currency_symbol, precision: 2 %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  <% if @starting_balance && @account && @start_date  %>
    <tfoot class="partial_balance">
      <tr>
        <th colspan="2"></th>
        <td><%= _("Balance al %{ref_date}") % { ref_date: l(@start_date, format: :short)} %></td>
        <td class="align-left keep-line"><%= number_to_currency @starting_balance, unit: @account.currency.symbol, precision: 2 %></td>
        <td><%= @account.name %></td>
        <td><%= l(@start_date, format: :short) %></td>
        <td colspan="4"></td>
      </tr>
    </tfoot>
  <% end %>

  <tfoot class="sum_selected--no-subtotal" data-target="sum_selected.resultContainer">
    <tr>
      <th colspan="3"><span data-target="sum_selected.count"></span> <%= _("seleccionadas") %></th>
      <th data-target="sum_selected.result" class="keep-line sum_selected--subtotal"></th>
      <th colspan="6"><%= _("suma total ignorando transferencias entre cuentas") %></th>
    </tr>
  </tfoot>
  <tfoot class="sum_filtered--no-subtotal" data-target="sum_filtered.resultContainer">
    <tr>
      <th colspan="3"><span data-target="sum_filtered.count"></span> <%= _("visibles") %></th>
      <th data-target="sum_filtered.result" class="keep-line sum_filtered--subtotal"></th>
      <th colspan="6"><%= _("suma total ignorando transferencias entre cuentas") %></th>
    </tr>
  </tfoot>
</table>
