<td><%= content_tag(:i, "", :class => "icon-" + transaction.type.downcase, :title => transaction.type) %></td>
<td><%= content_tag(:i, "", :class => "icon-" + transaction.state, :title => transaction.state.titleize) %></td>
<td><%= transaction.description %></td>
<td><%= number_to_currency(transaction.amount, :unit => transaction.source.currency.symbol) %></td>
<td><%= transaction.source.name %></td>
<td><%= transaction.target.name if transaction.is_a? Transfer%></td>
<td><%= transaction.transaction_at.to_s(:short) %></td>
<td><%= transaction.tags.join(",") %></td>
