<thead>
  <tr data-target="filter.header">
    <td></td>
    <td><%= Transaction.human_attribute_name(:type) %></td>
    <td><%= Transaction.human_attribute_name(:description) %></td>
    <td><%= Transaction.human_attribute_name(:amount) %></td>
    <td><%= _("Cuenta") %></td>
    <td><%= _("Fecha") %></td>
    <td><%= Transaction.human_attribute_name(:tags) %></td>
    <td><%= Transaction.human_attribute_name(:agent) %></td>
    <td><%= Transaction.human_attribute_name(:contact) %></td>
    <td></td>
  </tr>
</thead>
