<thead>
<td><%= Transaction.human_attribute_name(:type) %></td>
<td><%= Transaction.human_attribute_name(:state) %></td>
<td><%= Transaction.human_attribute_name(:description) %></td>
<td><%= Transaction.human_attribute_name(:amount) %></td>
<td><%= Transaction.human_attribute_name(:source) %></td>
<td><%= Transaction.human_attribute_name(:target) %></td>
<td><%= Transaction.human_attribute_name(:transaction_at) %></td>
<td><%= Transaction.human_attribute_name(:tags) %></td>
<td></td>
</thead>