<td><%= content_tag(:i, "", :class => "icon-" + transaction.type.downcase, :title => transaction.type) %></td>
<td><%= content_tag(:i, "", :class => "icon-" + transaction.state, :title => transaction.state.titleize) %></td>
<td><%= best_in_place transaction.becomes(Transaction), :description, :url => business_transaction_path(@business, transaction) %></td>
<td><%= best_in_place transaction.becomes(Transaction), :amount, :url => business_transaction_path(@business, transaction), :display_with => :number_to_currency, :helper_options => {:unit =>  transaction.source.currency.symbol} %></td>
<td><%= best_in_place transaction.becomes(Transaction), :source_id, :as => :select, :collection => @business.accounts.map { |i| [i.id, i.name] } , :url => business_transaction_path(@business, transaction) %></td>
<td><%= best_in_place_if transaction.is_a?(Transfer), transaction.becomes(Transaction), :target_id, :as => :select, :collection => @business.accounts.map { |i| [i.id, i.name] } , :url => business_transaction_path(@business, transaction)%></td>
<td><%= best_in_place transaction.becomes(Transaction), :transaction_at, :url => business_transaction_path(@business, transaction), :display_with => lambda {|d| d.to_s(:short)} %></td>
<td><%= best_in_place transaction.becomes(Transaction), :tag_id, :as => :select, :collection => @business.tags.order(:name).map { |i| [i.id, i.name] }, :url => business_transaction_path(@business, transaction) %></td>
<td><%= best_in_place transaction.becomes(Transaction), :agent_id, :as => :select, :collection => [["",""]]+@business.agents.order(:name).map { |i| [i.id, i.name] }, :url => business_transaction_path(@business, transaction) %></td>
<td><%= best_in_place transaction.becomes(Transaction), :contact_id, :as => :select, :collection => [["",""]]+@business.contacts.order(:name).map { |i| [i.id, i.name] }, :url => business_transaction_path(@business, transaction) %></td>
