<% cache transaction do %>
  <td>
    <%= check_box_tag "ids[]",
                      transaction.id,
                      false %>
  </td>
  <td>
    <%= content_tag(:i, "", class: "pull-left icon-" + transaction.state, title: transaction.state.titleize) if transaction.state != "created" %>
    <%= content_tag(:i, "", class: "pull-right icon-" + transaction.type.downcase, title: transaction.type) %>
  </td>
  <td>
    <%= best_in_place transaction.becomes(Transaction), :description, :url => business_transaction_path(@business, transaction) %>
  </td>
  <td>
    <%= best_in_place transaction.becomes(Transaction),
                      :amount,
                      url: business_transaction_path(@business, transaction),
                      display_with: :number_to_currency,
                      class: "keep-line",
                      helper_options: {unit:  transaction.source.currency.symbol} if transaction.source %>
  </td>
  <td>
    <%= best_in_place transaction.becomes(Transaction), :source_id, :as => :select, :collection => @business.accounts.order("name").map { |i| [i.id, i.name] } , :url => business_transaction_path(@business, transaction) %>
    <% if transaction.is_a?(Transfer) %>
      <br/>-><br/> 
      <%= best_in_place_if transaction.is_a?(Transfer), transaction.becomes(Transaction), :target_id, :as => :select, :collection => @business.accounts.order("name").map { |i| [i.id, i.name] } , :url => business_transaction_path(@business, transaction)%>
    <% end %>
  </td>
  <td>
    <%= best_in_place transaction.becomes(Transaction), :transaction_at, :url => business_transaction_path(@business, transaction), :display_with => lambda {|d| d.to_s(:short)} %>
    <% if transaction.report_at && transaction.report_at.end_of_month!=transaction.transaction_at.to_date.end_of_month %>
      <p>
        (<%= _("a admin %{month}") % {month: l(transaction.report_at, format: :month)} %>)
      </p>
    <% end %>
    <% if transaction.reconciled_at %>
      <p>
        (<%= _("saldó el %{rd}") % {rd: l(transaction.reconciled_at, format: :short)} %>)
      </p>
    <% end %>
  </td>
  <td class="select2">
    <% begin %>
      <%# avoiding becomes call keeps included tags avoiding call to DB.  %>
      <%= bip_tag_id(transaction) %>
    <% rescue %>
      <%= bip_tag_id(transaction.becomes(Transaction)) %>
    <% end %>
  </td>
  <td><%= best_in_place transaction.becomes(Transaction), :agent_id, as: :select, collection: agent_options_for_select, url: business_transaction_path(@business, transaction) %></td>
  <td class="select2"><%= best_in_place transaction.becomes(Transaction), :contact_id, as: :select, collection: contact_options_for_select, url: business_transaction_path(@business, transaction) %></td>
<% end %>
