<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2><%= t('products.edit.title') %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_product_path(@business, @product)}%>

<%= link_to t('actions.show'), business_product_path(@business,@product) %> |
<%= link_to t('actions.back'), business_products_path(@business) %>