<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3>Product</h3>
<p>Name: <%= @product.name %></p>
<p>Price: <%= number_to_currency(@product.price, :unit => @product.price_currency.symbol) %></p>
<p>Cost: <%= number_to_currency(@product.cost, :unit => @product.cost_currency.symbol) %></p>

<%= link_to 'Edit', edit_business_product_path(@business, @product) %> |
<%= link_to 'Back', business_products_path(@business) %>
