<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3><%= Product.model_name.human %></h3>
<p><b><%= Product.human_attribute_name(:name) %>:</b> <%= @product.name %></p>
<p><b><%= Product.human_attribute_name(:price) %>:</b> <%= number_to_currency(@product.price, :unit => @product.price_currency.symbol) %></p>
<p><b><%= Product.human_attribute_name(:cost) %>:</b> <%= number_to_currency(@product.cost, :unit => @product.cost_currency.symbol) %></p>
<p><b><%= Product.human_attribute_name(:stock) %>:</b> <%=  @product.stock %></p>

<%= link_to t('actions.edit'), edit_business_product_path(@business, @product) %> |
<%= link_to t('actions.back'), business_products_path(@business) %>
