<h1><%= page_title "#{t(".receipt")}##{@receipt.id}" %></h1>
<h2><%= pm @receipt.amount, unit: @receipt.currency.symbol  %></h2>
<h3><%= l(@receipt.ref_date) %></h3>
<p>
  <%= @receipt.description %>
</p>

<p class="fixed-bottom">
  <small>
    <%= link_to t(".share_to_whatsapp"), whatsapp_url(@receipt), target: :_blank %>
  </small>
</p>

<% if current_user %>
<div>
  <b><%= t(".linked_transactions") %>:</b>
  <ul>
    <% @receipt.trans.includes(:source).each do |t| %>
      <li>
        <%= link_to "#{t.description}: #{pm(t.amount, unit: t.source.currency.symbol)}".html_safe, business_transaction_path(t.business, t), target: :_blank  %>
      </li>
    <% end %>
  </ul>
  <small>(<%= t(".linked_transactions_not_visible_to_guest") %>)</small>
</div>
<% end %>
