<%= simple_form_for(@sale, :url => form_url, :validate => true, :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.association :contact, :as => :select, :collection => @business.contacts, :prompt => 'Please select contact' %>

    <%= f.association :agent, :as => :select, :collection => @business.agents, :prompt => 'Please select agent' %>

    <%= f.association :product, :as => :select, :collection => @business.products, :prompt => 'Please select product' %>

    <%= f.input :sold_on, :as => :date_picker %>

    <h3>Transactions</h3>
    <%= render :partial => 'nested_transactions_table', :locals => {:f => f} %>

    <%= f.button :submit, :class => "btn btn-primary" %>

<% end %>