<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<h3><%= Sale.model_name.human(:count => 2) %></h3>
<% @sales.group_by{ |s| s.sold_on.beginning_of_month }.each do |date, sales| %>
  <h4>
  	<%= l(date, :format => '%B') %> <%= link_to content_tag(:i, "", :class => "icon-bar-chart", :title => t('sales.index.view_month_stats', :month => l(date, :format => "%B"))), stats_business_sales_path(@business, :year => date.year, :month => date.month), :remote => true %>
  </h4>
<table class="sales table table-striped table-hover table-condensed table-bordered">
  <thead>
  	<td><%= Sale.human_attribute_name(:sold_on) %></td>
  	<td><%= Sale.human_attribute_name(:contact) %></td>
  	<td><%= Sale.human_attribute_name(:agent) %></td>
  	<td><%= Sale.human_attribute_name(:product) %></td>
  	<td><%= Sale.human_attribute_name(:amount) %></td>
  	<td><%= Sale.human_attribute_name(:status) %></td>
  	<td></td>
  </thead>
  <% sales.each do |sale| %>
    <tr>
      <td><%= l(sale.sold_on, :format => :short) %></td>
      <td><%= sale.contact.try(:name) %></td>
      <td><%= sale.agent.name %></td>
      <td><%= sale.product.try(:name) %></td>
      <td><%= number_to_currency(sale.product.price, :unit => sale.product.price_currency.symbol) if sale.product %></td>
      <td><%= content_tag(:span, sale.status, :class => "label label-#{sale.status}") %></td>
      <td>
      	<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_sale_path(@business, sale) %>
      	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_sale_path(@business, sale) %>
  		<%= link_to content_tag(:i, "", :class => "icon-trash"), business_sale_path(@business, sale), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>