<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :secondary_navigation do %>
    <%= render :partial => 'secondary_navigation' %>
<% end %>

<h3>Sales</h3>
<% @sales.group_by{ |s| s.sold_on.beginning_of_month }.each do |date, sales| %>
  <h4>
  	<%= Date::MONTHNAMES[date.month] %> <%= link_to content_tag(:i, "", :class => "icon-bar-chart", :title => "View #{Date::MONTHNAMES[date.month]} stats"), stats_business_sales_path(@business, :year => date.year, :month => date.month), :remote => true %>
  </h4>
<table class="sales table table-striped table-hover table-condensed table-bordered">
  <thead>
  	<td>Day</td>
	<td>Contact</td>
	<td>Agent</td>
	<td>Product</td>
	<td>Amount</td>
	<td>Status</td>
  	<td></td>
  </thead>
  <% sales.each do |sale| %>
    <tr>
      <td><%= sale.sold_on %></td>
      <td><%= sale.contact.try(:name) %></td>
      <td><%= sale.agent.name %></td>
      <td><%= sale.product.try(:name) %></td>
      <td><%= number_to_currency(sale.product.price, :unit => sale.product.price_currency.symbol) if sale.product %></td>
      <td><%= content_tag(:span, sale.status, :class => "label label-#{sale.status}") %></td>
      <td>
      	<%= link_to content_tag(:i, "", :class => "icon-eye-open"), business_sale_path(@business, sale) %>
      	<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_sale_path(@business, sale) %>
  		<%= link_to content_tag(:i, "", :class => "icon-trash"), business_sale_path(@business, sale), :confirm => 'Are you sure you want to delete this item?', :method => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>