<% content_for :sidebar do %>
    <%= render :partial => 'businesses/sidebar' %>
<% end %>

<h3>Sale</h3>
<p>Business: <%= @sale.business.name %></p>
<p>Contact: <%= @sale.contact.try(:name) %></p>
<p>Agent: <%= @sale.agent.name %></p>
<p>Product: <%= @sale.product.try(:name) %></p>

<%= render :partial => 'transactions/transactions', :locals => {:transactions => @sale.transactions} %>

<%= link_to 'Edit', edit_business_sale_path(@business, @sale) %> |
<%= link_to 'Back',:back %>
