<h3><%= Sale.model_name.human %></h3>
<p><b><%= Sale.human_attribute_name(:contact) %>:</b> <%= @sale.contact.try(:name) %></p>
<p><b><%= Sale.human_attribute_name(:agent) %>:</b>: <%= @sale.agent.name %></p>
<p><b><%= Sale.human_attribute_name(:product) %>:</b> <%= @sale.product.try(:name) %></p>
<p><b><%= Sale.human_attribute_name(:sold_on) %>:</b> <%= @sale.sold_on %></p>
<p><b><%= Sale.human_attribute_name(:status) %>:</b> <%= content_tag(:span, @sale.status, :class => "label label-#{@sale.status}") %>
	<% if !@sale.complete?  %>
        <%= link_to t('actions.mark_as_paid'), new_business_sale_payment_path(@business, @sale), :remote => true %>
    <% elsif @sale.complete? && !@business.transactions_enabled? %>
    	 <%= link_to content_tag(:i, "", :class => "icon-trash"), business_transaction_path(@business, @sale.transactions.first), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
    <% end %>
</p>

<% if @business.transactions_enabled? %>
<%= render :layout => 'transactions_table', :locals => {:transactions => @sale.transactions} do |transaction| %>
  <%= link_to content_tag(:i, "", :class => "icon-edit"), edit_business_transaction_path(transaction.business, transaction), :remote => true %>
  <%= link_to content_tag(:i, "", :class => "icon-trash"), business_transaction_path(transaction.business, transaction), :confirm => t('actions.confirm_delete'), :method => 'delete' %>
<% end %>
<% end %>

<%= link_to t('actions.edit'), edit_business_sale_path(@business, @sale) %> |
<%= link_to t('actions.back'), :back %>
