<% if @business.present? && @business.persisted? %>
<ul class="nav nav-pills">
  <li><%= link_to "Edit", edit_business_path(@business) %></li>
  <li><%= link_to "Add Transaction", new_business_transaction_path(@business) %></li>
  <li><%= link_to 'Manage Contacts', business_contacts_path(@business) %></li>
  <li><%= link_to 'Manage Agents', business_agents_path(@business) %></li>
  <li><%= link_to 'Manage Products', business_products_path(@business) %></li>
  <li><%= link_to 'Manage Tags', business_tags_path(@business) %></li>
  <li><%= link_to 'Manage Sales', business_sales_path(@business) %></li>
</ul>
<% end %>