<% if @business.present? && @business.persisted? %>
<ul class="nav nav-pills" id="secondary-navigation">
  <li class="<%= 'active' if (controller.controller_name == "businesses" && controller.action_name == "edit") ||
                              controller.controller_name == "agents" ||
                              controller.controller_name == "contacts" ||
                              controller.controller_name == "products" ||
                              controller.controller_name == "tags" ||
                              controller.controller_name == "accounts" ||
                              controller.controller_name == "imports" ||
                              controller.controller_name == "users" %>">
    <%= link_to content_tag(:i, "", :class => "icon-cogs") + t("layouts.secondary_navigation.edit_business"), @business.owner == current_user ? edit_business_path(@business) : business_path(@business) %>
  </li>
  <% if @business.transactions_enabled? %>
  <li class="<%= 'active' if controller.controller_name == "transactions" %>"><%= link_to t('layouts.secondary_navigation.manage_transactions'), business_transactions_path(@business) %></li>
  <% end %>
  <% if @business.is_a? School %>
      <li class="<%= 'active' if controller.controller_name == "sales" %>"><%= link_to t('layouts.secondary_navigation.manage_sales'), business_sales_path(@business) %></li>
      <li class="<%= 'active' if controller.controller_name == "memberships" %>"><%= link_to t('layouts.secondary_navigation.manage_memberships'), overview_business_memberships_path(@business) %></li>
  <% end %>
  <%= yield(:secondary_navigation) %>
</ul>
<% end %>