<% if @business.present? && @business.persisted? %>
<ul class="nav nav-pills" id="secondary-navigation">
  <li class="<%= 'active' if (controller.controller_name == "businesses" && controller.action_name == "edit") ||
                              controller.controller_name == "agents" ||
                              controller.controller_name == "contacts" ||
                              controller.controller_name == "products" ||
                              controller.controller_name == "tags" ||
                              controller.controller_name == "accounts" ||
                              controller.controller_name == "imports" ||
                              controller.controller_name == "users" %>">
    <%= link_to content_tag(:i, "", :class => "icon-cogs") + t("layouts.secondary_navigation.edit_business"), @business.owner == current_user ? edit_business_path(@business) : business_path(@business) %>
  </li>
  <% if @business.transactions_enabled? %>
  <li class="<%= 'active' if controller.controller_name == "transactions" %>"><%= link_to t('layouts.secondary_navigation.manage_transactions'), business_transactions_path(@business) %></li>
  <% end %>
  <% if @business.is_a? School %>
      <li class="<%= 'active' if controller.controller_name == "sales" %>"><%= link_to t('layouts.secondary_navigation.manage_sales'), business_sales_path(@business) %></li>
      <li class="<%= 'active' if memberships_link_active?  %>"><%= link_to t('layouts.secondary_navigation.manage_memberships'), overview_business_memberships_path(@business) %></li>
      <li class="dropdown <%= 'active' if reports_active?  %>">
        <%= link_to('#', :class => 'dropdown_toggle', 'data-toggle' => "dropdown") do %>
          <%=  t('layouts.secondary_navigation.reports') %> <%= content_tag(:span, '', :class => 'caret') %>
        <% end %>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to t('memberships.secondary_navigation.maturity_report'),
                    business_memberships_path(@business, :membership_search => {:ends_after => Date.today.beginning_of_month, :ends_before => Date.today.end_of_month, :payment_type_id => [:all]}) %></li>
          <li><%= link_to t('installments.secondary_navigation.unpaid_installments'),
                    business_installments_path(@business, :installment_search => {:status => [:incomplete, :due, :pending, :overdue], :due_after => Date.today.beginning_of_month, :due_before => Date.today.end_of_month, :agent_id => [:all]}) %></li>

          <% if @business.is_a?(School) && can?(:read, @business.admpart ) %>
            <li><%= link_to t('admparts.secondary_navigation.administration'), business_admpart_path(business_id: @business.id, ref_date: Date.today) %></li>
            <li><%= link_to t('admparts.secondary_navigation.attendance_detail'), attendance_detail_business_admpart_path(business_id: @business.id, ref_date: Date.today) %></li>
          <% end %>
        </ul>
      </li>
  <% elsif @business.is_a? Event %>
     <li class="<%= 'active' if inscriptions_link_active?  %>"><%= link_to t('layouts.secondary_navigation.manage_inscriptions'), business_inscriptions_path(@business, :inscription_search => {:payment_type_id => [:all], :agent_padma_id => [:all]}) %></li>
     <li class="<%= 'active' if closures_link_active?  %>"><%= link_to t('layouts.secondary_navigation.manage_event_closure'), :controller => "/closures", :action => :show, :business_id => @business.id, :id => nil %></li>
  <% end %>
  <%= yield(:secondary_navigation) %>
</ul>
<% end %>
