<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h2><%=  %></h2>

<%= render :partial => 'form', :locals => {:form_url => business_account_path(@business, @account)} %>

<%= link_to t('actions.show'), business_account_path(@business,@account) %> |
<%= link_to t('actions.back'), business_accounts_path(@business) %>