<% content_for :sidebar do %>
    <%= render :partial => 'businesses/edit_sidebar' %>
<% end %>

<h3>Account</h3>
<p>Name: <%= @account.name %></p>
<p>Balance: <%= number_to_currency(@account.balance, :unit => @account.currency.symbol) %></p>

<%= render :partial => 'transactions_table', :locals => {:transactions => @account.transactions} %>

<%= link_to 'Edit', edit_business_account_path(@business, @account) %> |
<%= link_to 'Back', business_accounts_path(@business) %>
